<div ng-cloak>
    <div class="row title-main title-underline">
    	<h4 translate="procedure.title">Title</h4>
    </div>
    <br>
    <div ng-if="isInDraftMode">
	    <steps-menu stepnumber="4"></steps-menu>
	    <br><br>
	    
		<div class="row">
			<div class="col-xs-1 col-xs-offset-1">
		    	<div class="step-number-align">
		    		<div class="step-number">4</div>
		    	</div>
		    </div>
		    <div class="col-xs-10 form-title-text">
		    	<p translate="procedure.summary.step.long">Summary</p>
		    </div>
		</div>
		<br>
		<div class="row row-center">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 style="font-weight: normal; line-height: 1.5" translate="summary.form.subtitle">Please verify</h4>
				</div>
			</div>
		</div>
		<br>
    </div>
    <!-- IDENTITY -->
	<div class="row">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="collapsable-panel" id="PanelIdentity" ng-class="{'opened': panelOpen==='Identity'}" ng-click="updatePanelOpen('Identity')">
				<div class="panel-heading">
					<span class="glyphicon" ng-class="{'glyphicon-triangle-top': panelOpen==='Identity', 'glyphicon-triangle-bottom': panelOpen!=='Identity'}"></span>
					<h5 class="panel-title" translate="summary.form.identity">Identity</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="panelOpen==='Identity'">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row opened">
				<ng-include src="'scripts/app/application/identity/identity-view.html'"></ng-include>
			</div>
		</div>
	</div>
    <!-- FAMILY -->
	<div ng-if="displayFamily">
		<div class="row">
			<div class="col-sm-11 col-sm-offset-1">
				<div class="collapsable-panel" id="PanelFamily" ng-class="{'opened': panelOpen==='Family'}" ng-click="updatePanelOpen('Family')">
					<div class="panel-heading">
						<span class="glyphicon" ng-class="{'glyphicon-triangle-top': panelOpen==='Family', 'glyphicon-triangle-bottom': panelOpen!=='Family'}"></span>
						<h5 class="panel-title" translate="summary.form.family">Family</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row" ng-if="panelOpen==='Family'">
			<div class="col-sm-11 col-sm-offset-1">
				<div class="row validation-visualization-row opened">
					<family-view ng-model="identity"></family-view>
				</div>
			</div>
		</div>
	</div>
    <!-- ADDRESS -->
	<div class="row">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="collapsable-panel" id="PanelAddress" ng-class="{'opened': panelOpen==='Address'}" ng-click="updatePanelOpen('Address')">
				<div class="panel-heading">
					<span class="glyphicon" ng-class="{'glyphicon-triangle-top': panelOpen==='Address', 'glyphicon-triangle-bottom': panelOpen!=='Address'}"></span>
					<h5 class="panel-title" translate="summary.form.address">Address</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="panelOpen==='Address'">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row opened">
				<ng-include src="'scripts/app/application/address/address-view.html'"></ng-include>
			</div>
		</div>
	</div>
    <!-- PROJECT -->
	<div class="row">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="collapsable-panel" id="PanelProject" ng-class="{'opened': panelOpen==='Project'}" ng-click="updatePanelOpen('Project')">
				<div class="panel-heading">
					<span class="glyphicon" ng-class="{'glyphicon-triangle-top': panelOpen==='Project', 'glyphicon-triangle-bottom': panelOpen!=='Project'}"></span>
					<h5 class="panel-title" translate="summary.form.project">Project</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="panelOpen==='Project'">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row opened">
				<ng-include src="'scripts/app/application/project/project'+viewSuffix+'-view.html'"></ng-include>
			</div>
		</div>
	</div>
	<br>
	<br>
    <div class="row row-center">
       	<button type="button" class="btn btn-default" translate="global.button.back" ng-click="back()">Back</button>
       	<button class="btn btn-success btn-right" translate="global.button.validate"
       			 ng-if="isInDraftMode"
       			 ng-disabled="projectForm.$invalid || projectForm.$submitted"
       			 ng-click="next()">Validate</button>
    </div>
</div>

<script type="text/javascript">
	$("html, body").animate({ scrollTop: 0 }, "slow");
</script>
