<div ng-cloak>
    <div class="row title-main title-underline">
    	<h4 translate="procedure.title">Title</h4>
    </div>
    <br>
    <div ng-if="isInDraftMode">
	    <steps-menu stepnumber="4"></steps-menu>
	    <br><br>
	    
		<div class="row">
			<div class="col-xs-1 col-xs-offset-1">
		    	<div class="step-number-align">
		    		<div class="step-number">4</div>
		    	</div>
		    </div>
		    <div class="col-xs-10 form-title-text">
		    	<p translate="procedure.summary.step.long">Summary</p>
		    </div>
		</div>
		<br>
		<div class="row row-center">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 style="font-weight: normal; line-height: 1.5" translate="summary.form.subtitle">Please verify</h4>
				</div>
			</div>
		</div>
		<br>
    </div>
    <!-- IDENTITY -->
	<div class="row">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="collapsable-panel" data-toggle="collapse" data-target="#panelIdentity">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-triangle-bottom"></span>
					<h5 class="panel-title" translate="summary.form.identity">Identity</h5>
				</div>
			</div>
		</div>
	</div>
	<div id="panelIdentity" class="row collapse">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row opened">
				<ng-include src="'scripts/app/application/identity/identity-view.html'"></ng-include>
			</div>
		</div>
	</div>
    <!-- FAMILY -->
	<div ng-if="displayFamily">
		<div class="row">
			<div class="col-sm-11 col-sm-offset-1">
				<div class="collapsable-panel" data-toggle="collapse" data-target="#panelFamily">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-triangle-bottom"></span>
						<h5 class="panel-title" translate="summary.form.family">Family</h5>
					</div>
				</div>
			</div>
		</div>
		<div id="panelFamily" class="row collapse">
			<div class="col-sm-11 col-sm-offset-1">
				<div class="row validation-visualization-row opened">
					<ng-include src="'scripts/app/application/family/family-view.html'"></ng-include>
				</div>
			</div>
		</div>
	</div>
    <!-- ADDRESS -->
	<div class="row">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="collapsable-panel" data-toggle="collapse" data-target="#panelAddress">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-triangle-bottom"></span>
					<h5 class="panel-title" translate="summary.form.address">Address</h5>
				</div>
			</div>
		</div>
	</div>
	<div id="panelAddress" class="row collapse">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row opened">
				<ng-include src="'scripts/app/application/address/address-view.html'"></ng-include>
			</div>
		</div>
	</div>
    <!-- PROJECT -->
	<div class="row">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="collapsable-panel" data-toggle="collapse" data-target="#panelProject">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-triangle-bottom"></span>
					<h5 class="panel-title" translate="summary.form.project">Project</h5>
				</div>
			</div>
		</div>
	</div>
	<div id="panelProject" class="row collapse">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row opened">
				<ng-include src="'scripts/app/application/project/project-'+nature+'-view.html'"></ng-include>
			</div>
		</div>
	</div>
	<br>
	<br>
    <div class="row row-center">
       	<button type="button" class="btn btn-default" translate="global.button.back" ng-click="back()">Back</button>
       	<button class="btn btn-success btn-right" translate="global.button.validate"
       			 ng-if="isInDraftMode"
       			 ng-click="next()">Validate</button>
    </div>
</div>

<script type="text/javascript">
	$("html, body").animate({ scrollTop: 0 }, "slow");
</script>
