<div ng-cloak>
    <div class="row title-main title-underline">
    	<h4 translate="procedure.title">Title</h4>
    </div>
    <br>
    <div ng-if="isInDraftMode">
	    <steps-menu stepnumber="4"></steps-menu>
	    <br><br>
	    
		<div class="row">
			<div class="col-xs-1 col-xs-offset-1">
		    	<div class="step-number-align">
		    		<div class="step-number">4</div>
		    	</div>
		    </div>
		    <div class="col-xs-10 form-title-text">
		    	<p translate="procedure.summary.step.long">Summary</p>
		    </div>
		</div>
		<br>
		<div class="row row-center">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 style="font-weight: normal; line-height: 1.5" translate="summary.form.subtitle">Please verify</h4>
				</div>
			</div>
		</div>
		<br>
    </div>
	<div class="row">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="collapsable-panel" ng-class="{'opened': identityOpened}" ng-click="identityOpened = !identityOpened">
				<div class="panel-heading">
					<span class="glyphicon" ng-class="{'glyphicon-triangle-top': identityOpened, 'glyphicon-triangle-bottom': !identityOpened}"></span>
					<h5 class="panel-title" translate="summary.form.identity">Identity</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="identityOpened">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row" ng-class="{'opened': identityOpened}">
				<ng-include src="'scripts/app/application/identity/identity-view.html'"></ng-include>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="collapsable-panel" ng-class="{'opened': addressOpened}" ng-click="addressOpened = !addressOpened">
				<div class="panel-heading">
					<span class="glyphicon" ng-class="{'glyphicon-triangle-top': addressOpened, 'glyphicon-triangle-bottom': !addressOpened}"></span>
					<h5 class="panel-title" translate="summary.form.address">Address</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="addressOpened">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row" ng-class="{'opened': addressOpened}">
				<ng-include src="'scripts/app/application/address/address-view.html'"></ng-include>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="collapsable-panel" ng-class="{'opened': projectOpened}" ng-click="projectOpened = !projectOpened">
				<div class="panel-heading">
					<span class="glyphicon" ng-class="{'glyphicon-triangle-top': projectOpened, 'glyphicon-triangle-bottom': !projectOpened}"></span>
					<h5 class="panel-title" translate="summary.form.project">Project</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="projectOpened">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row" ng-class="{'opened': projectOpened}">
				<ng-include src="'scripts/app/application/project/project'+viewSuffix+'-view.html'"></ng-include>
			</div>
		</div>
	</div>
	<br>
	<br>
    <div class="row row-center">
       	<button type="button" class="btn btn-default" translate="global.button.back" ng-click="back()">Back</button>
       	<button class="btn btn-success btn-right" translate="global.button.validate"
       			 ng-if="isInDraftMode"
       			 ng-disabled="projectForm.$invalid || projectForm.$submitted"
       			 ng-click="next()">Validate</button>
    </div>
</div>

<script type="text/javascript">
	$("html, body").animate({ scrollTop: 0 }, "slow");
</script>
