<div ng-cloak>
    <div class="row title-main title-underline">
    	<h4 translate="agent.title.{{application.type}}.{{application.nature}}" translate-values="{ studentName: '{{studentName}}'}"></h4>
    </div>
	<br><br>
	
	<!-- IDENTITY -->
	<div class="row">
		<div class="col-xs-6 col-sm-5 col-sm-offset-1">
			<div class="collapsable-panel" ng-class="{'opened': panel.identity.open}" ng-click="panel.identity.open = !panel.identity.open">
				<div class="panel-heading">
					<span class="glyphicon" ng-class="{'glyphicon-triangle-top': panel.identity.open, 'glyphicon-triangle-bottom': !panel.identity.open}"></span>
					<h5 class="panel-title" translate="validation.form.identity">Identity</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-6 validation-form">
			<img src="assets/images/checkbox_checked.png">
			<span translate="validation.form.validate" translate-values="{validationDate: '{{getFormattedDate(identity.validationOn)}}', validationAuthor: 'Ambassade de France à Séoul'}">validate</span>
		</div>
	</div>
	<div class="row" ng-if="panel.identity.open">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row opened">
				<ng-include src="'scripts/app/application/identity/identity-view.html'"></ng-include>
			</div>
		</div>
	</div>
	<!-- FAMILY -->
	<div ng-if="displayFamily">
		<div class="row">
			<div class="col-xs-6 col-sm-5 col-sm-offset-1">
				<div class="collapsable-panel" ng-class="{'opened': panel.family.open}" ng-click="panel.family.open = !panel.family.open">
					<div class="panel-heading">
						<span class="glyphicon" ng-class="{'glyphicon-triangle-top': panel.family.open, 'glyphicon-triangle-bottom': !panel.family.open}"></span>
						<h5 class="panel-title" translate="validation.form.family">Family</h5>
					</div>
				</div>
			</div>
			<div class="col-xs-6 validation-form">
				<img src="assets/images/checkbox_checked.png">
				<span translate="validation.form.validate" translate-values="{validationDate: '{{getFormattedDate(identity.familyValidateOn)}}', validationAuthor: 'Administration des étrangers en France'}">validate</span>
			</div>
		</div>
		<div class="row" ng-if="panel.family.open">
			<div class="col-sm-11 col-sm-offset-1">
				<div class="row validation-visualization-row opened">
					<family-view ng-model="identity"></family-view>
				</div>
			</div>
		</div>
	</div>
	<!-- POLICE CONTROL -->
	<div class="row">
		<div class="col-xs-6 col-sm-5 col-sm-offset-1">
			<div class="collapsable-panel">
				<div class="panel-heading">
					<h5 class="panel-title" translate="validation.form.policeControl">Police Control</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-6 validation-form">
			<img src="assets/images/checkbox_checked.png">
			<span translate="validation.form.validate" translate-values="{validationDate: '{{getFormattedDate(application.recevabilityDate)}}', validationAuthor: 'Police / Gendarmerie'}">validate</span>
		</div>
	</div>
	<!-- PROJECT -->
	<div class="row">
		<div class="col-xs-6 col-sm-5 col-sm-offset-1">
			<div class="collapsable-panel" ng-class="{'opened': panel.project.open}" ng-click="panel.project.open = !panel.project.open">
				<div class="panel-heading">
					<span class="glyphicon" ng-class="{'glyphicon-triangle-top': panel.project.open, 'glyphicon-triangle-bottom': !panel.project.open}"></span>
					<h5 class="panel-title" translate="validation.form.project">Project</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-6 validation-form">
			<img class="hand" src="assets/images/checkbox_unchecked.png" ng-show="!panel.project.valid" ng-click="panel.project.valid = !panel.project.valid; panel.project.open = false;">
			<img class="hand" src="assets/images/checkbox_checked.png" ng-show="panel.project.valid" ng-click="panel.project.valid = !panel.project.valid">
			<span translate="validation.form.toValidate" ng-show="!panel.project.valid">To validate</span>
			<span translate="validation.form.validate" translate-values="{validationDate: '{{getFormattedDate(project.validateOn)}}', validationAuthor: 'Administration des étrangers en France'}" ng-show="panel.project.valid">validate</span>
		</div>
	</div>
	<div class="row" ng-if="panel.project.open">
		<div class="col-sm-11 col-sm-offset-1">
			<div ng-if="application.type == 'Premiere'">
				<ul>
					<li translate="validation.form.preinscription" translate-values="{confirmationDate: '{{getFormattedDate(moment().subtract(4, 'd'))}}', confirmationAuthor: 'Campus France'}">validate</li>
				</ul>
			</div>
			<div class="row validation-visualization-row" ng-class="{'opened': projectOpened}">
				<ng-include src="'scripts/app/application/project/project-'+application.nature+'-view.html'"></ng-include>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-5 col-sm-offset-1">
			<div class="collapsable-panel">
				<div class="panel-heading">
					<h5 class="panel-title" translate="validation.form.history">History</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-6 validation-form">
			<span translate="validation.form.noHistory" ng-if="history.length == 0">No history</span>
		</div>
	</div>
	<div class="row" ng-if="history.length != 0">
		<div class="col-sm-11 col-sm-offset-1">
			<div>
				<ul>
					<li ng-repeat="app in history">
						<a href="#" translate="validation.form.history.list" translate-values="{startDate: '{{app.startDate}}', endDate: '{{app.endDate}}'}">validate</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div class="row row-center">
    	<button class="btn btn-danger" translate="validation.form.button.decline">Decline</button>
    	<button class="btn btn-success btn-right"
    			translate="validation.form.button.accept"
    			ng-disabled="!panel.project.valid" 
    			ng-click="validate()" >Accept</button>
	</div>
</div>
    
<script type="text/javascript">
	$("html, body").animate({ scrollTop: 0 }, "slow");
</script>