<div ng-cloak>
    <div class="row title-main title-underline">
    	<h4 translate="agent.title.{{application.type}}.{{application.nature}}" translate-values="{ studentName: '{{studentName}}'}"></h4>
    </div>
	<br><br>
	
	<!-- IDENTITY -->
	<div class="row">
		<div class="col-xs-6 col-sm-5 col-sm-offset-1">
			<div class="collapsable-panel" data-toggle="collapse" data-target="#panelIdentity">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-triangle-bottom"></span>
					<h5 class="panel-title" translate="validation.form.identity">Identity</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-6 validation-form">
			<i class="fa fa-check-circle"></i>
			<span style="margin-left: 10px"></span>
			<span translate="validation.form.validate" translate-values="{validationDate: '{{getFormattedDate(identity.validateOn)}}', validationAuthor: identityInFrance ? 'Préfecture de police de Paris' : 'Ambassade de France à Séoul'}">validate</span>
		</div>
	</div>
	<div id="panelIdentity" class="row collapse" ng-class="{'in': !identity.validateOn}">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row opened">
				<ng-include src="'scripts/app/application/identity/identity-view.html'"></ng-include>
			</div>
		</div>
	</div>
	<!-- FAMILY -->
	<div ng-if="displayFamily">
		<div class="row">
			<div class="col-xs-6 col-sm-5 col-sm-offset-1">
				<div class="collapsable-panel" data-toggle="collapse" data-target="#panelFamily">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-triangle-bottom"></span>
						<h5 class="panel-title" translate="validation.form.family">Family</h5>
					</div>
				</div>
			</div>
			<div class="col-xs-6 validation-form">
				<i class="fa fa-check-circle"></i>
				<span style="margin-left: 10px"></span>
				<span translate="validation.form.validate" translate-values="{validationDate: '{{getFormattedDate(identity.familyValidateOn)}}', validationAuthor: 'Administration des étrangers en France'}">validate</span>
			</div>
		</div>
		<div id="panelFamily" class="row collapse" ng-class="{'in': !family.validateOn}">
			<div class="col-sm-11 col-sm-offset-1">
				<div class="row validation-visualization-row opened">
					<ng-include src="'scripts/app/application/family/family-view.html'"></ng-include>
				</div>
			</div>
		</div>
	</div>
	<!-- POLICE CONTROL -->
	<div class="row">
		<div class="col-xs-6 col-sm-5 col-sm-offset-1">
			<div class="collapsable-panel">
				<div class="panel-heading">
					<h5 class="panel-title" translate="validation.form.policeControl">Police Control</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-6 validation-form">
			<i class="fa fa-check-circle"></i>
			<span style="margin-left: 10px"></span>
			<span translate="validation.form.validate" translate-values="{validationDate: '{{getFormattedDate(application.recevabilityDate)}}', validationAuthor: 'Police / Gendarmerie'}">validate</span>
		</div>
	</div>
	<!-- PROJECT -->
	<div class="row">
		<div class="col-xs-6 col-sm-5 col-sm-offset-1">
			<div class="collapsable-panel" data-toggle="collapse" data-target="#panelProject">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-triangle-bottom"></span>
					<h5 class="panel-title" translate="validation.form.project">Project</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-6 validation-form">
			<i class="fa hand" ng-class="{'fa-check-circle-o': project.valid !== true, 'fa-check-circle': project.valid === true, 'inactive': project.valid === false}" 
							   ng-click="project.valid === true ? project.valid = null : project.valid = true;"></i>
			<span style="margin-left: 10px"></span>
			<i class="fa hand" ng-class="{'fa-times-circle-o': project.valid !== false, 'fa-times-circle': project.valid === false, 'inactive': project.valid === true}" 
							   ng-click="project.valid === false ? project.valid = null :  project.valid = false;"></i>
		</div>
	</div>
	<div id="panelProject" class="row collapse" ng-class="{'in': project.valid == null}">
		<div class="col-sm-11 col-sm-offset-1">
			<div ng-if="application.type == 'Premiere'">
				<ul>
					<li translate="validation.form.preinscription" translate-values="{confirmationDate: '{{getFormattedDate(moment().subtract(4, 'd'))}}', confirmationAuthor: 'Campus France'}">validate</li>
				</ul>
			</div>
			<div class="row validation-visualization-row opened">
				<ng-include src="'scripts/app/application/project/project-'+application.nature+'-view.html'"></ng-include>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-5 col-sm-offset-1">
			<div class="collapsable-panel" data-toggle="collapse" data-target="#panelHistory">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-triangle-bottom"></span>
					<h5 class="panel-title" translate="validation.form.history">History</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-6 validation-form">
			
		</div>
	</div>
	<div id="panelHistory" class="row collapse in">
		<div class="col-sm-11 col-sm-offset-1">
			<div>
				<ul>
					<li translate="validation.form.noHistory" ng-if="history.length == 0"></li>
					<li ng-repeat="app in history">
						<a ui-sref="summary({id: app.id})" 
							translate="validation.form.history.list.{{app.nature}}" 
							translate-values="{startDate: '{{getFormattedDate(app.startDate)}}', endDate: '{{getFormattedDate(app.endDate)}}'}">validate</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div class="row row-center">
    	<button class="btn btn-danger" translate="validation.form.button.decline" ng-if="project.valid !== true">Decline</button>
    	<button class="btn btn-success"
    			ng-class="{'btn-right': project.valid == null}"
    			translate="validation.form.button.accept"
    			ng-if="project.valid !== false"
    			ng-disabled="!project.valid"
    			data-toggle="modal"
    			data-target="#myModal"
    			ng-click="validate()" >Accept</button>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" translate="validation.modal.title">Modal title</h4>
      </div>
      <div class="modal-body">
      	<span translate="validation.modal.text">modal text</span>
      </div>
      <div class="modal-footer" style="text-align: center;">
        <button type="button" class="btn btn-default" data-dismiss="modal" translate="validation.modal.button">OK</button>
      </div>
    </div>
  </div>
</div>
    
<script type="text/javascript">
	$("html, body").animate({ scrollTop: 0 }, "slow");
	$('#myModal').on('hidden.bs.modal', function (e) {
		angular.element(this).scope().endValidation();
	});
</script>