<div class="panel panel-default" ng-if="documents.length > 0">
	<div class="panel-heading" style="text-align: center">
		<span class="glyphicon glyphicon-chevron-right hand pull-right" ng-if="documents.length > 1" ng-click="previousPhoto()"></span>
		<span class="glyphicon glyphicon-chevron-left hand pull-left" ng-if="documents.length > 1" ng-click="nextPhoto()"></span>
		<span translate="sejourApp.DocumentType.{{documents[currentIndex].type}}"></span><span> ({{currentIndex + 1}}/{{documents.length}})</span>
	</div>
		
	<div class="panel-body">
		<div class="photo-viewer-zoom-logo">
			<div>
				<a id="zoomInButton{{::documents[0].id}}" class="fa fa-search-plus"></a>
			</div>
			<div>
			    <a id="zoomOutButton{{::documents[0].id}}" class="fa fa-search-minus"></a>
			</div>
		</div>
		<div>
			<img id="img{{::documents[0].id}}" class="photo-viewer-img" ng-src="{{documents[currentIndex].fileName}}">
		</div>
	</div>
</div>