<div class="panel panel-default" ng-if="documents.length > 0">
	<div class="panel-heading" style="text-align: center">
		<span class="glyphicon glyphicon-arrow-right hand pull-right" ng-show="documents.length > 1" ng-click="nextPhoto(true)"></span>
		<span class="glyphicon glyphicon-arrow-left hand pull-left" ng-show="documents.length > 1" ng-click="nextPhoto(false)"></span>
		<span translate="sejourApp.DocumentType.{{documents[currentIndex].type}}"></span><span> ({{currentIndex + 1}}/{{documents.length}})</span>
	</div>
		
	<div class="panel-body">
		<div class="photo-viewer-zoom-logo">
			<div ng-click="zoomButtonClick(false)">
				<span id="zoomInButton{{::documents[0].id}}" class="fa fa-search-plus"></span>
			</div>
			<div ng-click="zoomButtonClick(true)">
			    <span id="zoomOutButton{{::documents[0].id}}" class="fa fa-search-minus"></span>
			</div>
		</div>
		<div>
			<img id="img{{::documents[0].id}}" class="photo-viewer-img" ng-src="{{documents[currentIndex].fileName}}">
		</div>
	</div>
</div>