<select class="form-control" name="{{::fieldName}}" id="{{::fieldId}}" ng-model="ngModel" ng-disabled="disabled == 'disabled'">
	<option label=" "></option>
	<option value="student" translate="sejourApp.ActivityType.student"></option>
	<option value="trainee" translate="sejourApp.ActivityType.trainee"></option>
	<option value="unemployed" translate="sejourApp.ActivityType.unemployed"></option>
	<option value="salaried" translate="sejourApp.ActivityType.salaried"></option>
	<option value="crafstman" translate="sejourApp.ActivityType.crafstman"></option>
	<option value="liberal" translate="sejourApp.ActivityType.liberal"></option>
	<option value="annuitant" translate="sejourApp.ActivityType.annuitant"></option>
	<option value="other" translate="sejourApp.ActivityType.other"></option>
</select>