<select class="form-control" name="{{::fieldName}}" id="{{::fieldId}}" ng-model="ngModel" ng-disabled="disabled == 'disabled'">
	<option label=" "></option>
	<option value="single" translate="sejourApp.MaritalStatus.single"></option>
	<option value="cohabitant" translate="sejourApp.MaritalStatus.cohabitant"></option>
	<option value="civil_partner" translate="sejourApp.MaritalStatus.civil_partner"></option>
	<option value="married" translate="sejourApp.MaritalStatus.married"></option>
	<option value="separated" translate="sejourApp.MaritalStatus.separated"></option>
	<option value="divorced" translate="sejourApp.MaritalStatus.divorced"></option>
	<option value="widowed" translate="sejourApp.MaritalStatus.widowed"></option>
</select>