<div ng-cloak>
    <div class="row" has-role="ROLE_USAGER">
    	<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
        	<box-menu boxtitle="main.usager.title.study" boxlogo="education" ng-click="goTo('usager/etudier')"></box-menu>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
	        <box-menu boxtitle="main.usager.title.work" boxlogo="briefcase"></box-menu>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
	     	<box-menu boxtitle="main.usager.title.family" boxlogo="home" disabled="true"></box-menu>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
	        <box-menu boxtitle="main.usager.title.extend" boxlogo="repeat" disabled="true"></box-menu>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
	        <box-menu boxtitle="main.usager.title.nationality" boxlogo="flag" disabled="true"></box-menu>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
	        <box-menu boxtitle="main.usager.title.visit" boxlogo="camera" disabled="true"></box-menu>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
	        <box-menu boxtitle="main.usager.title.user.account" boxlogo="cog" ng-click="goTo('settings')"></box-menu>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
	        <box-menu boxtitle="main.usager.title.follow" boxlogo="folder-open"></box-menu>
        </div>
    </div>
    <div class="row" has-role="ROLE_AGENT">
    	<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
        	<box-menu boxtitle="main.agent.title.verify" boxlogo="ok"></box-menu>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
	        <box-menu boxtitle="main.agent.title.rdv.setting" boxlogo="calendar" disabled="true"></box-menu>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
	     	<box-menu boxtitle="main.agent.title.rdv.preview" boxlogo="th-list" disabled="true"></box-menu>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
	        <box-menu boxtitle="main.agent.title.rdv.drive" boxlogo="camera"></box-menu>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
	        <box-menu boxtitle="main.agent.title.decision" boxlogo="pencil" ng-click="goTo('etudier/validation')"></box-menu>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
	        <box-menu boxtitle="main.agent.title.question" boxlogo="comment" disabled="true"></box-menu>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
	        <box-menu boxtitle="main.agent.title.consult" boxlogo="search" disabled="true"></box-menu>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
	        <box-menu boxtitle="main.agent.title.analyse" boxlogo="stats"></box-menu>
        </div>
    </div>
</div>
