<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.arrival.title}">arrival</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.arrival.greeting(${user.firstName}, ${user.lastName})}">
            Hello,
        </p>
        <br/>
        <p>
            <span th:text="#{email.arrival.ok}">arrival success</span>
            <br/>
            <span th:text="#{email.arrival.service}">service</span>
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/account/infos|}"
               th:text="#{email.arrival.link}">address</a>
        </p>
        <br/>
        <p>
            <span th:text="#{email.regards}">Regards,</span>
            <br/><br/>
            <em th:text="#{${emailSignature}}">sejour</em>
            <br/><br/>
            <b><em th:text="#{email.signature.administration}">administration</em></b>
        </p>
    </body>
</html>
