<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.decision.title}">decision</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.decision.greeting(${user.firstName}, ${user.lastName})}">
            Hello,
        </p>
        <br/>
        <p th:text="#{${emailDecisionOk}(${applicationId})}">
            Decision success
        </p>
        <p th:text="#{email.decision.permit}">
            Decision permit
        </p>
        <br/>
        <p>
            <span th:text="#{email.regards}">Regards,</span>
            <br/><br/>
            <em th:text="#{${emailSignature}}">portail</em>
            <br/><br/>
            <b><em th:text="#{email.signature.administration}">administration</em></b>
        </p>
    </body>
</html>
