<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.permit.title}">permit</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.permit.greeting(${user.firstName}, ${user.lastName})}">
            Hello,
        </p>
        <br/>
        <p th:text="#{email.permit.dispo}">
            permit success
        </p>
        <p>
            <span th:text="#{${emailRdvName}}">name</span>
            <br/>
            <span th:text="#{${emailRdvStreet}}">street</span>
            <br/>
            <span th:text="#{${emailRdvCity}}">city</span>
            <br/>
        </p>
        <p>
            <span th:text="#{email.rdv.schedule}">schedule</span>
            <br/>
            <span th:text="#{email.rdv.schedule.week}">schedule</span>
            <br/>
            <span th:text="#{email.rdv.schedule.weekend}">schedule</span>
            <br/>
        </p>
        <br/>
        <p>
            <span th:text="#{email.regards}">Regards,</span>
            <br/><br/>
            <em th:text="#{${emailSignature}}">portail</em>
            <br/><br/>
            <b><em th:text="#{${emailSignatureEnd}}">administration</em></b>
        </p>
    </body>
</html>
