<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.rdv.title}">rdv</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.rdv.greeting(${user.firstName}, ${user.lastName})}">
            Hello,
        </p>
        <br/>
        <p th:text="#{email.rdv.confirmed(${rdvDate}, ${rdvHour})}">
            rdv confirmed
        </p>
        <p>
            <span th:text="#{${emailRdvName}}">name</span>
            <br/>
            <span th:text="#{${emailRdvStreet}}">street</span>
            <br/>
            <span th:text="#{${emailRdvCity}}">city</span>
            <br/>
            <span th:text="#{${emailRdvPhone}}">phone</span>
            <br/>
        </p>
        <p th:text="#{email.rdv.delay}">
        	rdv modifiable
        </p>
        <p th:text="#{email.rdv.modifiable}">
        	rdv modifiable
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/${applicationId}/rdv|}"
               th:text="#{email.rdv.link}">rdv</a>
        </p>
        <br/>
        <p>
            <span th:text="#{email.regards}">Regards,</span>
            <br/><br/>
            <em th:text="#{${emailSignature}}">portail</em>
            <br/><br/>
            <b><em th:text="#{email.signature.administration}">administration</em></b>
        </p>
    </body>
</html>
