<div ng-cloak>
    <div class="row title-underscore">
    	<h4 translate="application.title"></h4>
    </div>
	<br><br>
	
	<div class="row" ng-show="demandes.length == 0">
		<div class="col-sm-10 col-sm-offset-1">
	    	<h5 translate="application.list.noApplication">No application</h5>
	    </div>
	</div>	
	
	<div ng-repeat="demande in demandes">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="collapsable-panel" ng-class="{'opened': demande.opened}" ng-click="demande.opened = !demande.opened">
					<div class="panel-heading">
						<span class="glyphicon" ng-class="{'glyphicon-triangle-top': demande.opened, 'glyphicon-triangle-bottom': !demande.opened}"></span>
						<h5 class="panel-title" 
							ng-if="!demande.decisionDate"
							translate="application.list.title.{{demande.type}}.created.{{demande.nature}}"
							translate-values="{creationDate: '{{getFormattedDate(demande.creationDate)}}'}">Application</h5>
						<h5 class="panel-title" 
							ng-if="demande.decisionDate"
							translate="application.list.title.{{demande.type}}.validated.{{demande.nature}}"
							translate-values="{decisionDate: '{{getFormattedDate(demande.decisionDate)}}'}">Application</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row" ng-show="demande.opened">
			<div class="col-sm-10 col-sm-offset-1">
				<a href="" class="detail-link" ng-click="goToDetail(demande.type, demande.id)">
					<span class="glyphicon glyphicon-search"></span>
					<span translate="application.list.detail"></span>
				</a>
				<ul style="line-height: 2">
					<li ng-if="demande.statut == 'draft'"
						translate="application.list.modified" 
						translate-values="{ modificationDate: '{{getFormattedDate(demande.modificationDate)}}', userName: '{{demande.identity.firstName}} {{demande.identity.lastName}}'}"></li>
					<li ng-if="demande.statut == 'payment' || demande.paymentDate"
						translate="application.list.submit" 
						translate-values="{ submitDate: '{{getFormattedDate(demande.modificationDate)}}', userName: '{{demande.identity.firstName}} {{demande.identity.lastName}}'}"></li>
					<li ng-if="demande.paymentDate"
						translate="application.list.payment"
						translate-values="{ paymentDate: '{{getFormattedDate(demande.paymentDate)}}', userName: '{{demande.identity.firstName}} {{demande.identity.lastName}}'}"></li>
					<li ng-if="demande.statut == 'recevability'"
						translate="application.list.recevability.wait"></li>
					<li ng-if="demande.recevabilityDate"
						translate="application.list.recevability" 
						translate-values="{ recevabilityDate: '{{getFormattedDate(demande.recevabilityDate)}}'}"></li>
					<li ng-if="demande.rdvDate && demande.statut == 'identification'"
						translate="application.list.rdv.future" 
						translate-values="{ rdvDate: '{{getFormattedDate(demande.rdvDate)}}', userName: '{{demande.identity.firstName}} {{demande.identity.lastName}}'}"></li>
					<li ng-if="demande.rdvDate && demande.statut != 'identification'"
						translate="application.list.rdv.passed" 
						translate-values="{ rdvDate: '{{getFormattedDate(demande.rdvDate)}}', userName: '{{demande.identity.firstName}} {{demande.identity.lastName}}'}"></li>
					<li ng-if="demande.statut == 'decision'"
						translate="application.list.decision.wait"></li>
					<li ng-if="demande.decisionDate"
						translate="application.list.decision" 
						translate-values="{ decisionDate: '{{getFormattedDate(demande.decisionDate)}}'}"></li>
				</ul>
			</div>
		</div>
		<div class="row row-center" style="margin-top: 10px;" ng-show="demande.opened">
	    	<button class="btn btn-danger" translate="application.button.delete" ng-if="demande.statut == 'draft'" ng-click="remove(demande.id)">Delete</button>
	    	<button class="btn btn-success btn-right" translate="application.button.continue" ng-if="demande.statut == 'draft'" ng-click="goToDraft(demande.type)">Continue</button>
	    	<button class="btn btn-success" translate="application.button.payment" ng-if="demande.statut == 'payment'" ng-click="goToPayment(demande.type)">RDV</button>
	    	<button class="btn btn-success" translate="application.button.rdv" ng-if="demande.statut == 'rdv'" ui-sref="etudier/rdv">RDV</button>
		</div>
		<br>
		<br>
	</div>
</div>
    
<script type="text/javascript">
	$("html, body").animate({ scrollTop: 0 }, "slow");
</script>