
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myIdentityLabel" translate="sejourApp.identity.home.createOrEditLabel">Create or edit a Identity</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="identity.id" readonly>
        </div>

        <div class="form-group">
            <label translate="sejourApp.identity.lastName" for="field_lastName">LastName</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                    ng-model="identity.lastName"
                    required>

            <div ng-show="editForm.lastName.$invalid">
                <p class="help-block"
                    ng-show="editForm.lastName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="sejourApp.identity.usedLastName" for="field_usedLastName">UsedLastName</label>
            <input type="text" class="form-control" name="usedLastName" id="field_usedLastName"
                    ng-model="identity.usedLastName"
                    >

        </div>
        <div class="form-group">
            <label translate="sejourApp.identity.firstName" for="field_firstName">FirstName</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                    ng-model="identity.firstName"
                    >

        </div>
        <div class="form-group">
            <label translate="sejourApp.identity.sex" for="field_sex">Sex</label>
            <select class="form-control" name="sex" ng-model="identity.sex" id="field_sex" required>
                <option value="M" translate="sejourApp.SexType.M">M</option>
                <option value="F" translate="sejourApp.SexType.F">F</option>
            </select>

            <div ng-show="editForm.sex.$invalid">
                <p class="help-block"
                    ng-show="editForm.sex.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="sejourApp.identity.birthDate" for="field_birthDate">BirthDate</label>
            <input type="datetime-local" class="form-control" name="birthDate" id="field_birthDate"
                    ng-model="identity.birthDate" ng-model-options="{timezone: 'UTC'}"
                    required>

            <div ng-show="editForm.birthDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.birthDate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.birthDate.$error.datetimelocal" translate="entity.validation.datetimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="sejourApp.identity.birthCity" for="field_birthCity">BirthCity</label>
            <input type="text" class="form-control" name="birthCity" id="field_birthCity"
                    ng-model="identity.birthCity"
                    required>

            <div ng-show="editForm.birthCity.$invalid">
                <p class="help-block"
                    ng-show="editForm.birthCity.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="sejourApp.identity.birthCountry" for="field_birthCountry">BirthCountry</label>
            <input type="text" class="form-control" name="birthCountry" id="field_birthCountry"
                    ng-model="identity.birthCountry"
                    required>

            <div ng-show="editForm.birthCountry.$invalid">
                <p class="help-block"
                    ng-show="editForm.birthCountry.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="sejourApp.identity.nationality" for="field_nationality">Nationality</label>
            <input type="text" class="form-control" name="nationality" id="field_nationality"
                    ng-model="identity.nationality"
                    required>

            <div ng-show="editForm.nationality.$invalid">
                <p class="help-block"
                    ng-show="editForm.nationality.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="sejourApp.identity.passportNumber" for="field_passportNumber">PassportNumber</label>
            <input type="text" class="form-control" name="passportNumber" id="field_passportNumber"
                    ng-model="identity.passportNumber"
                    required>

            <div ng-show="editForm.passportNumber.$invalid">
                <p class="help-block"
                    ng-show="editForm.passportNumber.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="sejourApp.identity.passport" for="field_passport">Passport</label>
            <input type="text" class="form-control" name="passport" id="field_passport"
                    ng-model="identity.passport"
                    >

        </div>
        <div class="form-group">
            <label translate="sejourApp.identity.birthAct" for="field_birthAct">BirthAct</label>
            <input type="text" class="form-control" name="birthAct" id="field_birthAct"
                    ng-model="identity.birthAct"
                    >

        </div>
        <div class="form-group">
            <label translate="sejourApp.identity.test" for="field_test">Test</label>
            <input type="checkbox" class="form-control" name="test" id="field_test"
                    ng-model="identity.test"
                    >

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
