<div ng-cloak>
    <div class="row title-main title-underline">
    	<h4 translate="procedure.title">Title</h4>
    </div>
    <br>
    <steps-menu stepnumber="5"></steps-menu>
    <br><br>

	<div class="row">
		<div class="col-xs-1 col-xs-offset-1">
	    	<div class="step-number-align">
	    		<div class="step-number">5</div>
	    	</div>
	    </div>
	    <div class="col-xs-10 form-title-text">
	    	<p translate="procedure.payment.step.long">Payment</p>
	    </div>
	</div>
	<br>
	<div class="row row-center">
    	<div class="col-xs-10 col-xs-offset-1" translate="payment.form.informations">
   		</div>
	</div>
	<br>
	<div class="row">
        <!-- CREDIT CARD FORM STARTS HERE -->
        <div class="panel panel-default credit-card-box">
            <div class="panel-heading" >
                <div class="row display-tr" >
                    <div class="display-td" >                            
                        <img class="img-responsive pull-right" src="assets/images/ogone_payment.png">
                    </div>
                </div>                    
            </div>
            <div class="panel-body">
                <form role="form" id="paymentForm" novalidate ng-submit="save()" show-validation>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="cardOwner" translate="payment.form.cardOwner">CARD OWNER</label>
                                <input type="text" class="form-control" name="cardOwner" ng-model="payment.cardOwner" ng-change="autocomplete()" required autofocus />
                            </div>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="cardNumber" translate="payment.form.cardNumber">CARD NUMBER</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    <input 
                                        type="tel"
                                        class="form-control"
                                        name="cardNumber"
                                        ng-model="payment.cardNumber"
                                        autocomplete="cc-number"
                                        required 
                                    />
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="cardExpiry" translate="payment.form.cardExpiringDate">EXPIRATION DATE</label>
                                <input 
                                    type="tel" 
                                    class="form-control" 
                                    name="cardExpiry"
                                    ng-model="payment.cardExpiringDate"
                                    placeholder="MM / YY"
                                    autocomplete="cc-exp"
                                    required 
                                />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 pull-right">
                            <div class="form-group">
                                <label for="cardCVC" translate="payment.form.cardCV">CV CODE</label>
                                <input 
                                    type="tel" 
                                    class="form-control"
                                    name="cardCVC"
                                    ng-model="payment.cardCV"
                                    placeholder="CVC"
                                    autocomplete="cc-csc"
                                    required
                                />
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row row-center">
				       	<button type="button" class="btn btn-default" translate="global.button.back" ng-click="back()">Back</button>
                    	<button type="submit" class="btn btn-success btn-right" translate="global.button.payment"
                    			 ng-disabled="payment.cardOwner == null || payment.cardNumber == null || payment.cardExpiringDate == null || payment.cardCV == null || paymentForm.$invalid || paymentForm.$submitted">Payment</button>
                    </div>
                    <div class="row" style="display:none;">
                        <div>
                            <p class="payment-errors"></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>       
</div>
    
<script type="text/javascript">
	$("html, body").animate({ scrollTop: 0 }, "slow");
</script>
