<div ng-cloak>
    <div class="row">
    	<div class="col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 col-lg-11 col-lg-offset-1 title-underscore">
    		<h4 translate="etudier.title">Request for a student stay</h4>
   		</div>
    </div>
    <br>
    <steps-menu stepnumber="1"></steps-menu>
    <br><br>

	<form name="identityForm" role="form" class="form-horizontal" novalidate ng-submit="save()" show-validation>
	
		<div class="row">
			<div class="col-xs-1 col-xs-offset-1 col-sm-1 col-sm-offset-1 col-md-1 col-md-offset-1 col-lg-1 col-lg-offset-1">
		    	<span class="step-number-align">
		    		<div class="step-number">1</div>
		    	</span>
		    </div>
		    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 form-title-text">
		    	<p translate="etudier.identity.step.long">Identity</p>
		    </div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
			    <div class="form-group">
			        <label translate="identity.form.lastName" for="field_lastName">LastName</label>
			        <input type="text" class="form-control" name="lastName" id="field_lastName" ng-model="identity.lastName"
			        		tabindex="0" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="{{'identity.form.tooltip' | translate}}"
			        		autofocus required>
			
			        <div ng-show="identityForm.lastName.$dirty && identityForm.lastName.$invalid">
			            <p class="help-block" ng-show="identityForm.lastName.$error.required" translate="entity.validation.required">
			                This field is required.
			            </p>
			        </div>
			    </div>
			    <div class="form-group">
			        <label translate="identity.form.usedLastName" for="field_usedLastName">UsedLastName</label>
			        <input type="text" class="form-control" name="usedLastName" id="field_usedLastName" ng-model="identity.usedLastName" >
			
			    </div>
			    <div class="form-group">
			        <label translate="identity.form.firstName" for="field_firstName">FirstName</label>
			        <input type="text" class="form-control" name="firstName" id="field_firstName" ng-model="identity.firstName" >
			
			    </div>
			    <div class="form-group">
			        <label translate="identity.form.sex" for="field_sex">Sex</label>
			        <div>
				        <label class="radio-inline"><input type="radio" id="field_sex" name="sex" ng-model="identity.sex" value="F" required>{{'sejourApp.SexType.F' | translate}}</label>
						<label class="radio-inline"><input type="radio" id="field_sex" name="sex" ng-model="identity.sex" value="M" required>{{'sejourApp.SexType.M' | translate}}</label>
	                </div>
			        <div ng-show="identityForm.sex.$dirty && identityForm.sex.$invalid">
			            <p class="help-block" ng-show="identityForm.sex.$error.required" translate="entity.validation.required">
			                This field is required.
			            </p>
			        </div>
			    </div>
			    <div class="form-group">
			        <label translate="identity.form.birthDate" for="field_birthDate">BirthDate</label>
			        <div class="input-group date">
				        <span class="input-group-addon">
	                        <span class="fa fa-calendar"></span>
	                    </span>
	                    <input type="text" class="form-control"
					           datetimepicker
					           datetimepicker-options="{{birthDatePickerOptions}}"
					           name="birthDateTxt" id="field_birthDateTxt"
					           ng-model="identity.birthDateTxt"
					           placeholder="{{'global.form.date.format' | translate}}">
					</div>
					
			        <div ng-show="identityForm.birthDateTxt.$dirty && identityForm.birthDateTxt.$invalid">
			            <p class="help-block" ng-show="identityForm.birthDateTxt.$error.required" translate="entity.validation.required">
			                This field is required.
			            </p>
			            <p class="help-block" ng-show="identityForm.birthDateTxt.$error.date" translate="entity.validation.date">
			                This field should be a date.
			            </p>
			        </div>
			    </div>
			    <div class="form-group">
			        <label translate="identity.form.birthCity" for="field_birthCity">BirthCity</label>
			        <input type="text" class="form-control" name="birthCity" id="field_birthCity"
			                ng-model="identity.birthCity" required>
			
			        <div ng-show="identityForm.birthCity.$dirty && identityForm.birthCity.$invalid">
			            <p class="help-block" ng-show="identityForm.birthCity.$error.required" translate="entity.validation.required">
			                This field is required.
			            </p>
			        </div>
			    </div>
			    <div class="form-group">
			        <label translate="identity.form.birthCountry" for="field_birthCountry">BirthCountry</label>
			        <select class="form-control" name="birthCountry" id="field_birthCountry"
					      ng-options="country.key as country.name for country in countries | orderBy:'name'"
					      ng-model="identity.birthCountry" required></select>
			
			        <div ng-show="identityForm.birthCountry.$dirty && identityForm.birthCountry.$invalid">
			            <p class="help-block" ng-show="identityForm.birthCountry.$error.required" translate="entity.validation.required">
			                This field is required.
			            </p>
			        </div>
			    </div>
			    <div class="form-group">
			        <label translate="identity.form.nationality" for="field_nationality">Nationality</label>
			        <select class="form-control" name="nationality" id="field_nationality"
					      ng-options="country.key as country.name for country in countries | orderBy:'name'"
					      ng-model="identity.nationality" required></select>
			        
			        <div ng-show="identityForm.nationality.$dirty && identityForm.nationality.$invalid">
			            <p class="help-block" ng-show="identityForm.nationality.$error.required" translate="entity.validation.required">
			                This field is required.
			            </p>
			        </div>
			    </div>
			    <div class="form-group">
			        <label translate="identity.form.passportNumber" for="field_passportNumber">PassportNumber</label>
			        <input type="text" class="form-control" name="passportNumber" id="field_passportNumber" ng-model="identity.passportNumber" required>
			
			        <div ng-show="identityForm.passportNumber.$dirty && identityForm.passportNumber.$invalid">
			            <p class="help-block" ng-show="identityForm.passportNumber.$error.required" translate="entity.validation.required">
			                This field is required.
			            </p>
			        </div>
			    </div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-1 col-xs-offset-1 col-sm-1 col-sm-offset-1 col-md-1 col-md-offset-1 col-lg-1 col-lg-offset-1">
		    	
		    </div>
		    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 form-title-text">
				<p translate="identity.form.document.title">Identity documents</p>
		    </div>
		</div>
	    <br>
	    <div class="row">
			<div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
			    <div class="form-group">
			        <label translate="identity.form.passport" for="field_passport">Passport</label>
			    	<span class="glyphicon glyphicon-info-sign form-info" id="passport-info"
			    			tabindex="0" data-placement="right" data-toggle="popover" data-trigger="hover" data-content="{{'identity.form.passport.tooltip' | translate}}"></span>
			        <div class="input-group">
				        <span class="input-group-addon" id="logo_passport">
	                        <span class="fa fa-file"></span>
	                    </span>
				        <input id="file_passport" type="file" ng-model="passportFile" onchange="angular.element(this).scope().uploadPassportFile(this)" style="display: none;">
				        <input type="text" class="form-control" name="passport" id="field_passport" readonly="readonly"
				                ng-model="identity.passport" placeholder="{{'identity.form.passport.placeholder' | translate}}" 
				                required >
				        <span class="input-group-addon">
	                        <span class="glyphicon glyphicon-plus input-file-plus" ng-class="{'img-disabled': !identity.passport}"></span>
	                    </span>
					</div>
							
			        <div ng-show="identityForm.passport.$dirty && identityForm.passport.$invalid">
			            <p class="help-block" ng-show="identityForm.passport.$error.required" translate="entity.validation.required">
			                This field is required.
			            </p>
			        </div>
			    </div>
			    <div class="form-group">
			        <label translate="identity.form.birthAct" for="field_birthAct">BirthAct</label>
			        <span class="glyphicon glyphicon-info-sign form-info" id="birthAct-info"
			    			tabindex="0" data-placement="right" data-toggle="popover" data-trigger="hover" data-content="{{'identity.form.birthAct.tooltip' | translate}}"></span>
			        <div class="input-group">
				        <span class="input-group-addon" id="logo_birthAct">
	                        <span class="fa fa-file"></span>
	                    </span>
				        <input id="file_birthAct" type="file" ng-model="birthActFile" onchange="angular.element(this).scope().uploadBirthActFile(this)" style="display: none;">
				        <input type="text" class="form-control" name="birthAct" id="field_birthAct" readonly="readonly"
				                ng-model="identity.birthAct" placeholder="{{'identity.form.birthAct.placeholder' | translate}}"
				                required >
				        <span class="input-group-addon">
	                        <span class="glyphicon glyphicon-plus input-file-plus" ng-class="{'img-disabled': !identity.birthAct}"></span>
	                    </span>
					</div>
							
			        <div ng-show="identityForm.birthAct.$dirty && identityForm.birthAct.$invalid">
			            <p class="help-block" ng-show="identityForm.birthAct.$error.required" translate="entity.validation.required">
			                This field is required.
			            </p>
			        </div>
			    </div>
		   	</div>
		</div>
		<br>
	    <div class="row row-center">
	    	<div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
	       		<button type="submit" ng-disabled="identityForm.$invalid || identityForm.$submitted" class="btn btn-primary"
	       			translate="etudier.button.continue">Continue</button>
      		</div>
        </div>
	</form>
</div>

<script type="text/javascript">
	$("html, body").animate({ scrollTop: 0 }, "slow");

	$(function () {
		$('#passport-info').popover();
	});
	$(function () {
		$('#birthAct-info').popover();
	});
	$(function () {
		$('#field_lastName').popover();
	});
	
	$('#logo_passport').click(function(){
	    $('#file_passport').click();
	});
	$('#field_passport').click(function(){
	    $('#file_passport').click();
	});
	$('#logo_birthAct').click(function(){
	    $('#file_birthAct').click();
	});
	$('#field_birthAct').click(function(){
	    $('#file_birthAct').click();
	});
</script>
