<div ng-cloak>
    <div class="row title-main title-underline">
    		<h4 translate="infos.title">Request for a student stay</h4>
   		</div>
    </div>
    <br>
    <div class="alert alert-success" ng-show="success" translate="settings.messages.success">
        <strong>Settings saved!</strong>
    </div>
    <br>

	<form name="infosForm" role="form" class="form-horizontal" novalidate ng-submit="save()" show-validation>
		<!-- IDENTITY -->
		<div class="row">
			<div class="col-sm-11 col-sm-offset-1">
				<div class="collapsable-panel" data-toggle="collapse" data-target="#panelIdentity">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-triangle-bottom"></span>
						<h5 class="panel-title" translate="infos.form.identity">Identity</h5>
					</div>
				</div>
			</div>
		</div>
		<div id="panelIdentity" class="row collapse">
			<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
				<div class="form-group">
		            <label translate="infos.form.id" for="field_id">Id</label>
		            <input type="text" class="form-control" name="id" id="field_id"
		                    ng-model="account.id" readonly="readonly">
		        </div>
		        
				<identity-form-light ng-model="identity" with-tooltip="true"></identity-form-light>
				
			    <div class="form-group">
			        <label translate="identity.form.passportNumber" for="field_passportNumber">PassportNumber</label>
			        <input type="text" class="form-control" name="passportNumber" id="field_passportNumber" ng-model="identity.passportNumber" required>
			        <div ng-show="infosForm.passportNumber.$dirty && infosForm.passportNumber.$invalid">
			            <p class="help-block" ng-show="infosForm.passportNumber.$error.required" translate="entity.validation.required">
			                This field is required.
			            </p>
			        </div>
			    </div>
				<div class="form-group">
			        <label translate="identity.form.maritalStatus" for="field_maritalStatus">Marital status</label>
			        <select-marital-status field-name="maritalStatus" field-id="field_maritalStatus" ng-model="identity.maritalStatus" required></select-marital-status>
			        <div ng-show="infosForm.maritalStatus.$dirty && infosForm.maritalStatus.$invalid">
			            <p class="help-block" ng-show="infosForm.maritalStatus.$error.required" translate="entity.validation.required">
			                This field is required.
			            </p>
			        </div>
			    </div>
			    <div class="form-group">
			        <label translate="identity.form.childsNumber" for="field_childsNumber">ChildsNumber</label>
			        <input type="number" min="0" class="form-control" name="childsNumber" id="field_childsNumber" ng-model="identity.childsNumber" required>
			        <div ng-show="infosForm.chidlsNumber.$dirty && infosForm.childsNumber.$invalid">
			            <p class="help-block" ng-show="infosForm.childsNumber.$error.required" translate="entity.validation.required">
			                This field is required.
			            </p>
		                <p class="help-block" ng-show="infosForm.childsNumber.$error.number" translate="entity.validation.number">
		                    This field should be a number.
		                </p>
		                <p class="help-block" ng-show="infosForm.childsNumber.$error.min" translate="entity.validation.max" translate-values="{max: '0'}">
		                    This field should be a positive.
		                </p>
			        </div>
			    </div>
			    <div class="form-group">
			        <label translate="identity.form.brothersNumber" for="field_brothersNumber">BrothersNumber</label>
			        <input type="number" min="0" class="form-control" name="brothersNumber" id="field_brothersNumber" ng-model="identity.brothersNumber" required>
			        <div ng-show="infosForm.brothersNumber.$dirty && infosForm.brothersNumber.$invalid">
			            <p class="help-block" ng-show="infosForm.brothersNumber.$error.required" translate="entity.validation.required">
			                This field is required.
			            </p>
		                <p class="help-block" ng-show="infosForm.brothersNumber.$error.number" translate="entity.validation.number">
		                    This field should be a number.
		                </p>
		                <p class="help-block" ng-show="infosForm.brothersNumber.$error.min" translate="entity.validation.max" translate-values="{max: '0'}">
		                    This field should be a positive.
		                </p>
			        </div>
			    </div>
				<div class="form-group">
			        <label translate="identity.form.activity" for="field_activity">Activity</label>
			        <select-activity-type field-name="activity" field-id="field_activity" ng-model="identity.activity" required></select-activity-type>
			        <div ng-show="infosForm.activity.$dirty && infosForm.activity.$invalid">
			            <p class="help-block" ng-show="infosForm.activity.$error.required" translate="entity.validation.required">
			                This field is required.
			            </p>
			        </div>
			    </div>
			</div>
		</div>
		<!-- ADDRESS -->
		<div class="row">
			<div class="col-sm-11 col-sm-offset-1">
				<div class="collapsable-panel" data-toggle="collapse" data-target="#panelAddress">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-triangle-bottom"></span>
						<h5 class="panel-title" translate="infos.form.address">Address</h5>
					</div>
				</div>
			</div>
		</div>
	    <div id="panelAddress" class="row collapse">
			<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
		        
		        <div class="form-group" ng-if="needComingDate">
		            <label translate="project.form.comingDate" for="field_comingDate">ComingDate</label>
		            <input-date field-name="comingDate" field-id="field_comingDate" ng-model="account.comingDate"></input-date>
		            <div ng-show="infosForm.comingDateTxt.$dirty && infosForm.comingDateTxt.$invalid">
		                <p class="help-block" ng-show="infosForm.comingDate.$error.required" translate="entity.validation.required">
		                    This field is required.
		                </p>
		                <p class="help-block" ng-show="infosForm.comingDate.$error.date" translate="entity.validation.datetimelocal">
		                    This field should be a date.
		                </p>
		            </div>
		        </div>
		        
		        <address-form-light ng-model="address" with-tooltip="true"></address-form-light>
		        
		        <div class="form-group">
		            <label translate="address.form.phone" for="field_phone">Phone</label>
		            <input type="text" class="form-control" name="phone" id="field_phone" ng-model="address.phone" required>
		            <div ng-show="infosForm.phone.$dirty && infosForm.phone.$invalid">
		                <p class="help-block" ng-show="infosForm.phone.$error.required" translate="entity.validation.required">
		                    This field is required.
		                </p>
		            </div>
		        </div>
		        <div class="form-group">
		            <label translate="address.form.email" for="field_email">Email</label>
		            <input type="text" class="form-control" name="email" id="field_email" ng-model="address.email" required>
		            <div ng-show="infosForm.email.$dirty && infosForm.email.$invalid">
		                <p class="help-block" ng-show="infosForm.email.$error.required" translate="entity.validation.required">
		                    This field is required.
		                </p>
		            </div>
		        </div>
		        <div class="form-group">
		            <label translate="address.form.contactType" for="field_contactType">ContactType</label>
		            <tooltip tooltip-text='address.form.contactType.tooltip'></tooltip>
			        <checkbox-contact-type ng-model="address.contactType"></checkbox-contact-type>
		            <div ng-show="infosForm.contactType.$dirty && infosForm.contactType.$invalid">
		                <p class="help-block" ng-show="infosForm.contactType.$error.required" translate="entity.validation.required">
		                    This field is required.
		                </p>
		            </div>
		        </div>
		    </div>
		</div>
		<br>
	    <div class="row row-center">
        	<button class="btn btn-default" translate="infos.form.button.back" ui-sref="usager/account">Back</button>
        	<button type="submit" class="btn btn-primary btn-right" translate="infos.form.button.validate"
        			 ng-disabled="infosForm.$invalid || infosForm.$submitted">Continue</button>
        </div>
	</form>
</div>
    
<script type="text/javascript">
	$("html, body").animate({ scrollTop: 0 }, "slow");
	$(function () {
		$('#field_contactType').popover();
	})
</script>
