<div ng-cloak>
    <div class="row">
    	<div class="col-xs-11 col-xs-offset-1 title-underscore">
    		<h4 translate="identification.biometrics.title" translate-values="{ studentName: '{{studentName}}'}"></h4>
   		</div>
    </div>
	<br>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-1">
			<div class="collapsable-panel" ng-class="{'opened': photoOpened}" ng-click="photoOpened = !photoOpened">
				<div class="panel-heading">
					<span class="glyphicon" ng-class="{'glyphicon-triangle-top': photoOpened, 'glyphicon-triangle-bottom': !photoOpened}"></span>
					<h5 class="panel-title" translate="identification.biometrics.photo">photo</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-3 validation-form">
			<img class="hand" src="assets/images/checkbox_unchecked.png" ng-show="!photoValidated" ng-click="validatePhoto()">
			<img class="hand" src="assets/images/checkbox_checked.png" ng-show="photoValidated" ng-click="validatePhoto()">
			<span translate="identification.biometrics.toValidate" ng-show="!photoValidated">To validate</span>
			<span translate="identification.biometrics.validated" ng-show="photoValidated">validate</span>
		</div>
	</div>
	<div class="row" ng-show="photoOpened">
		<div class="col-xs-11 col-xs-offset-1">
			<div class="row validation-visualization-row" ng-class="{'opened': photoOpened}">
				<div class="col-xs-12 col-sm-6" ng-show="!photoValidated">
					<ng-camera
					    viewer-height="400"
					    viewer-width="700"
					    crop-height="400"
					    crop-width="311"
					    image-format="png"
					    jpeg-quality="100"
					    action-message="{{photoButtonText}}"
					    snapshot="webcamphoto"
					    overlay-url="assets/images/photo_overlay.png"></ng-camera>
				</div>
				<div class="col-xs-12 col-sm-6" ng-show="webcamphoto">
				    <img src="{{webcamphoto}}" class="img-responsive thumbnail" style="max-width: 311px;">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-1">
			<div class="collapsable-panel">
				<div class="panel-heading">
					<h5 class="panel-title" translate="identification.biometrics.fingerprints">fingerprints</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-3 validation-form">
			<img src="assets/images/checkbox_checked.png">
			<span translate="identification.biometrics.validated">validate</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-1">
			<div class="collapsable-panel" ng-class="{'opened': signatureOpened}" ng-click="signatureOpened = !signatureOpened">
				<div class="panel-heading">
					<span class="glyphicon" ng-class="{'glyphicon-triangle-top': signatureOpened, 'glyphicon-triangle-bottom': !signatureOpened}"></span>
					<h5 class="panel-title" translate="identification.biometrics.signature">signature</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-3 validation-form">
			<img class="hand" src="assets/images/checkbox_unchecked.png" ng-show="!signatureValidated" onclick="angular.element(this).scope().validateSignature(signaturepad);">
			<img class="hand" src="assets/images/checkbox_checked.png" ng-show="signatureValidated" onclick="angular.element(this).scope().validateSignature(signaturepad);">
			<span translate="identification.biometrics.toValidate" ng-show="!signatureValidated">To validate</span>
			<span translate="identification.biometrics.validated" ng-show="signatureValidated">validate</span>
		</div>
	</div>
	<div class="row" ng-show="signatureOpened">
		<div class="col-xs-11 col-xs-offset-1">
			<div class="row validation-visualization-row" ng-class="{'opened': signatureOpened}">
				<div class="col-xs-12 col-sm-6" ng-show="!signatureValidated">
					<canvas class="thumbnail" id="signature-pad" width="400" height="200"></canvas>
					<button class="btn btn-primary btn-signature" 
							onclick="angular.element(this).scope().clearSignature(signaturepad)" 
							translate="identification.biometrics.button.signature.clear">Clear</button>
				</div>
				<div class="col-xs-12 col-sm-6" ng-show="padsignature">
				    <img src="{{padsignature}}" class="img-responsive thumbnail" style="max-width: 311px;">
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div class="row row-center">
		<div class="col-xs-10 col-xs-offset-1">
	    	<button class="btn btn-success" 
	    			ng-disabled="!signatureValidated || !photoValidated"
	    			translate="identification.biometrics.button.accept"
	    			ng-click="certify()" >Accept</button>
		</div>
	</div>
</div>
    
<script type="text/javascript">
	$("html, body").animate({ scrollTop: 0 }, "slow");
	
	var canvas = document.getElementById("signature-pad");
	var signaturepad = new SignaturePad(canvas);
</script>