<div ng-cloak>
    <div class="row">
    	<div class="col-xs-11 col-xs-offset-1 title-underscore">
    		<h4 translate="validation.list.title"></h4>
   		</div>
    </div>
	<br>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-2" ng-if="demandes.length == 0">
	    	<h5 translate="validation.list.noApplication">No application</h5>
	    </div>
		<div class="col-xs-11 col-xs-offset-1" ng-if="demandes.length > 0">
	    	<table class="table">
				<thead>
					<tr>
						<th style="width:17%;" translate="validation.list.lastName"></th>
						<th style="width:17%;" translate="validation.list.firstName"></th>
						<th style="width:24%;" translate="validation.list.id"></th>
						<th style="width:17%;" translate="validation.list.nationality"></th>
						<th style="width:25%;" translate="validation.list.applicationType"></th>
					</tr>
				</thead>
				<tbody>
					<tr class="applicationListLine" ng-repeat="demande in demandes" ui-sref="etudier/validation({id:demande.id})">
						<td>{{demande.identity.lastName}}</td>
						<td>{{demande.identity.firstName}}</td>
						<td>{{demande.userId}}</td>
						<td>{{getNationality(demande.identity.nationality)}}</td>
						<td>
							<span translate="sejourApp.TypeDemande.{{demande.type}}"></span>
							<span translate="sejourApp.NatureDemande.{{demande.nature}}"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
    
<script type="text/javascript">
	$("html, body").animate({ scrollTop: 0 }, "slow");
</script>