<div ng-cloak>
    <div class="row">
    	<div class="col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 col-lg-11 col-lg-offset-1 title-underscore">
    		<h4 translate="etudier.validation.title" translate-values="{ studentName: '{{studentName}}'}"></h4>
   		</div>
    </div>
	<br>
	<div class="row">
		<div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
			<div class="panel hand">
				<div class="panel-heading" ng-click="loadIdentity();">
					<span class="glyphicon glyphicon-triangle-bottom" style="float:right;"></span>
					<h5 class="panel-title" translate="etudier.validation.identity">Identity</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<img src="assets/images/checkbox_checked.png" class="img-checkbox">
			<span>Validée le 15/09/2015 - Ambassade de France à Séoul</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
			<div class="panel hand">
				<div class="panel-heading" ng-click="loadIdentity();">
					<span class="glyphicon glyphicon-triangle-bottom" style="float:right;"></span>
					<h5 class="panel-title" translate="etudier.validation.preinscription">(Pre)inscription</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<img src="assets/images/checkbox_checked.png" class="img-checkbox">
			<span>Confirmée le 09/09/2015 - Campus France</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
			<div class="panel hand">
				<div class="panel-heading" ng-click="loadIdentity();">
					<span class="glyphicon glyphicon-triangle-bottom" style="float:right;"></span>
					<h5 class="panel-title" translate="etudier.validation.project">Project</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<img src="assets/images/checkbox_checked.png" class="img-checkbox">
			<span>Validée le 12/09/2015 - Administration nationale</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
			<div class="panel hand">
				<div class="panel-heading" ng-click="loadIdentity();">
					<span class="glyphicon glyphicon-triangle-bottom" style="float:right;"></span>
					<h5 class="panel-title" translate="etudier.validation.documents">Documents</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<img src="assets/images/checkbox_checked.png" class="img-checkbox">
			<span>Validée le 15/09/2015 - Ambassade de France à Séoul</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
			<div class="panel hand">
				<div class="panel-heading" ng-click="loadIdentity();">
					<span class="glyphicon glyphicon-triangle-bottom" style="float:right;"></span>
					<h5 class="panel-title" translate="etudier.validation.biometrics">Biometrics</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<img src="assets/images/checkbox_checked.png" class="img-checkbox">
			<span>Validée le 15/09/2015 - Ambassade de France à Séoul</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
			<div class="panel hand">
				<div class="panel-heading" ng-click="loadIdentity();">
					<span class="glyphicon glyphicon-triangle-bottom" style="float:right;"></span>
					<h5 class="panel-title" translate="etudier.validation.policeControl">Police Control</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<img src="assets/images/checkbox_checked.png" class="img-checkbox">
			<span>Validée le 15/09/2015 - Police / Gendarmerie</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
			<div class="panel hand">
				<div class="panel-heading" ng-click="loadIdentity();">
					<span class="glyphicon glyphicon-triangle-bottom" style="float:right;"></span>
					<h5 class="panel-title" translate="etudier.validation.history">History</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<img src="assets/images/checkbox_unchecked.png" class="img-checkbox img-disabled">
			<span>Pas d'historique</span>
		</div>
	</div>
	<br>
	<br>
	<div class="row row-center">
		<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
	    	<button class="btn btn-default" translate="etudier.validation.button.decline">Decline</button>
	    	<button class="btn btn-primary" translate="etudier.validation.button.accept">Accept</button>
		</div>
	</div>
</div>
    
<script type="text/javascript">
	$("html, body").animate({ scrollTop: 0 }, "slow");
</script>