<div ng-cloak>

	<div class="col-xs-12">
	
        	<h2><span translate="etudier.payment.form.title">Payment</span></h2>
        	
            <!-- CREDIT CARD FORM STARTS HERE -->
            <div class="panel panel-default credit-card-box">
                <div class="panel-heading" >
                    <div class="row display-tr" >
                        <div class="display-td" >                            
                            <img class="img-responsive pull-right" src="assets/images/ogone_payment.png">
                        </div>
                    </div>                    
                </div>
                <div class="panel-body">
                    <form role="form" id="paymentForm" novalidate ng-submit="save()" show-validation>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardOwner" translate="etudier.payment.form.cardOwner">CARD OWNER</label>
                                    <input type="text" class="form-control" name="cardOwner" ng-model="payment.cardOwner" required autofocus />
                                </div>
                            </div>                        
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber" translate="etudier.payment.form.cardNumber">CARD NUMBER</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                        <input 
                                            type="tel"
                                            class="form-control"
                                            name="cardNumber"
                                            ng-model="payment.cardNumber"
                                            autocomplete="cc-number"
                                            required 
                                        />
                                    </div>
                                </div>                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <div class="form-group">
                                    <label for="cardExpiry" translate="etudier.payment.form.cardExpiringDate">EXPIRATION DATE</label>
                                    <input 
                                        type="tel" 
                                        class="form-control" 
                                        name="cardExpiry"
                                        ng-model="payment.cardExpiringDate"
                                        placeholder="MM / YY"
                                        autocomplete="cc-exp"
                                        required 
                                    />
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-6 pull-right">
                                <div class="form-group">
                                    <label for="cardCVC" translate="etudier.payment.form.cardCV">CV CODE</label>
                                    <input 
                                        type="tel" 
                                        class="form-control"
                                        name="cardCVC"
                                        ng-model="payment.cardCV"
                                        placeholder="CVC"
                                        autocomplete="cc-csc"
                                        required
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row btn-row">
                            <div class="col-xs-12">
                                <button type="submit" ng-disabled="paymentForm.$invalid || paymentForm.$submitted" class="btn btn-fun"
	        							translate="etudier.button.payment">Payment</button>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>       
</div>
