/** STEP NUMBER **/
.step-number-horizontal {
	display: inline-block;
	text-align: center;
	margin-left: 25px;
}

.step-number-align {
	float: right;
	margin-bottom: 14px;
}

.step-number {
	width: 30px;
	height: 30px;
	background-color: rgb(53, 86, 137);
	border: 2px solid rgb(53, 86, 137);
	text-align: center;
	border-radius: 50%;
	color: #fff;
		
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
}

.step-text {
	line-height: 23px;
	padding-left: 15px;
	font-size: 14px;
	font-weight: bold;
}

.form-title-text {
	line-height: 26px;
	padding-left: 10px;
	font-size: 18px;
	font-weight: bold;
}

@media (min-width: 768px) {
	
	.step-number-horizontal {
		margin-left: 60px;
	}
	
	.step-number {
		width: 42px;
		height: 42px;
		
		font-size: 28px;
		line-height: 37px;
		font-weight: bold;
	}

	.step-text {
		line-height: 37px;
		font-size: 17px;
		font-weight: bold;
	}

	.form-title-text {
		line-height: 40px;
		font-size: 23px;
		font-weight: bold;
	}
}

/** RDV **/
.rdv {
	float: left;
	width: 40%
}
.rdv table {
	border-spacing: 1px;
	border-collapse: separate;
}
.rdv .bootstrap-datetimepicker-widget table td.day {
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.rdv .bootstrap-datetimepicker-widget table td {
	border-color: black;
}
.rdv .bootstrap-datetimepicker-widget table td.disabled {
	opacity: 0.3;
	background-color: transparent;
	border-color: transparent;
}
.rdv .bootstrap-datetimepicker-widget table td.active {
	background-color: #3c763d;
}

.rdv-hour {
	float: left;
	width: 55%;
	margin-left: 10px;
	text-align: center;
}
.rdv-hour .panel-body {
	padding: 5px;
}
.rdv-hour-cell {
	float:left;
	width:20%;
	padding: 5px;
	border-radius: 4px;
	cursor: pointer;
}
.rdv-hour-cell.selected, .rdv-hour-cell:hover {
	background-color: #3c763d;
	color: white;
}


/** VALIDATION **/
.title-underscore > h4 {
	padding-bottom: 7px;
	font-weight: bolder;
	color: rgb(53, 86, 137);
	border-bottom: 2px solid rgb(53, 86, 137);;
}

.img-checkbox {
	width: 42px;
	padding-right: 6px;
}

.img-disabled {
	opacity:0.2;
}
