/** NUMBER BOX (écrase les box définit dans main.css pour customisation) **/

.steps {
	min-width: 600px;
}

.steps > .box {
	display: inline-block;
	min-width: 110px;
}

.steps-list > .box {
	display: inline-block;
	margin: 10px
}

.box.disable {
    opacity: 0.4;
}

.box > .icon > .number {
    position: relative;
    z-index: 2;
    margin: auto;
    width: 50px;
    height: 50px;
    line-height: 60px;
    border-radius: 50%;
    background: rgb(53, 86, 137);
    vertical-align: middle;
}

.box > .icon > .number > .btn-lg {
    font-size: 28px;
}

.box > .icon > .title > p {
    color: #222;
    line-height: 1.5em;
    margin: 5px;
}

/** FORM **/
.btn-fun{
	/* Button Background: */
background-image: linear-gradient(-180deg, #D8D8D8 0%, #B3B3B3 100%);
border: 1px solid #979797;
box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 2px 0px 0px #FFFFFF;
border-radius: 6px;
/* OK: */
font-family: AvenirNext-Bold;
font-size: 14px;
color: #4A4A4A;
line-height: 19px;
text-shadow: 0px 1px 0px #FFFFFF;
}