<div ng-cloak>
    <div class="row title-underscore">
    	<h4 translate="etudier.title">Request for a student stay</h4>
    </div>
    <br><br>

	<div class="row row-center">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="panel panel-success">
				<div class="panel-heading"><h4 translate="final.form.success">Success</h4></div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1" ng-if="!isRenewal">
			<p style="line-height: 2" translate="final.form.recevability">Recevability</p>
			<br>
			<p style="line-height: 2" translate="final.form.rdv">Rdv</p>
			<br>
			<p style="line-height: 2" translate="final.form.decision">Decision</p>
		</div>
		<div class="col-xs-10 col-xs-offset-1" ng-if="isRenewal">
			<p style="line-height: 2" translate="final.form.recevability.renouvellement">Recevability</p>
			<br>
			<p style="line-height: 2" translate="final.form.decision.renouvellement">Decision</p>
		</div>
	</div>
	<br>
	<div class="row row-center">
	    <button class="btn btn-primary" translate="etudier.button.end" ui-sref="account/application">End</button>
	</div>
</div>
    
<script type="text/javascript">
	$("html, body").animate({ scrollTop: 0 }, "slow");
</script>