<div ng-cloak>
    <div class="row title-main title-underline">
    	<h4 translate="agent.title.{{application.type}}.{{application.nature}}" translate-values="{ studentName: '{{studentName}}'}"></h4>
    </div>
	<br><br>
	<!-- IDENTITY -->
	<div class="row">
		<div class="col-xs-9 col-sm-8 col-sm-offset-1">
			<div class="collapsable-panel" ng-class="{'opened': panel.identity.open}" ng-click="panel.identity.open = !panel.identity.open">
				<div class="panel-heading">
					<span class="glyphicon" ng-class="{'glyphicon-triangle-top': panel.identity.open, 'glyphicon-triangle-bottom': !panel.identity.open}"></span>
					<h5 class="panel-title" translate="admissibility.form.identity">Identity</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-3 validation-form">
			<i class="fa hand" ng-class="{'fa-check-circle-o': panel.identity.valid !== true, 'fa-check-circle': panel.identity.valid === true, 'inactive': panel.identity.valid === false}" 
							   ng-click="panel.identity.valid === true ? panel.identity.valid = null : panel.identity.valid = true; panel.identity.open = false;"></i>
			<span style="margin-left: 10px"></span>
			<i class="fa hand" ng-class="{'fa-times-circle-o': panel.identity.valid !== false, 'fa-times-circle': panel.identity.valid === false, 'inactive': panel.identity.valid === true}" 
							   ng-click="panel.identity.valid === false ? panel.identity.valid = null :  panel.identity.valid = false;"></i>
		</div>
	</div>
	<div class="row" ng-if="panel.identity.open">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row opened">
				<ng-include src="'scripts/app/application/identity/identity-view.html'"></ng-include>
			</div>
		</div>
	</div>
	<!-- FAMILY -->
	<!-- // TODO Changer cette condition evidemment -->
	<div ng-if="identity.family.parents">
		<div class="row">
			<div class="col-xs-9 col-sm-8 col-sm-offset-1">
				<div class="collapsable-panel" ng-class="{'opened': panel.family.open}" ng-click="panel.family.open = !panel.family.open">
					<div class="panel-heading">
						<span class="glyphicon" ng-class="{'glyphicon-triangle-top': panel.family.open, 'glyphicon-triangle-bottom': !panel.family.open}"></span>
						<h5 class="panel-title" translate="admissibility.form.family">Family</h5>
					</div>
				</div>
			</div>
			<div class="col-xs-3 validation-form">
				<i class="fa hand" ng-class="{'fa-check-circle-o': panel.family.valid !== true, 'fa-check-circle': panel.family.valid === true, 'inactive': panel.family.valid === false}" 
								   ng-click="panel.family.valid === true ? panel.family.valid = null : panel.family.valid = true; panel.family.open = false;"></i>
				<span style="margin-left: 10px"></span>
				<i class="fa hand" ng-class="{'fa-times-circle-o': panel.family.valid !== false, 'fa-times-circle': panel.family.valid === false, 'inactive': panel.family.valid === true}" 
								   ng-click="panel.family.valid === false ? panel.family.valid = null :  panel.family.valid = false;"></i>
			</div>
		</div>
		<div class="row" ng-if="panel.family.open">
			<div class="col-sm-11 col-sm-offset-1">
				<div class="row validation-visualization-row opened">
					<family-view ng-model="identity"></family-view>
				</div>
			</div>
		</div>
	</div>
	<!-- ADDRESS -->
	<div class="row">
		<div class="col-xs-9 col-sm-8 col-sm-offset-1">
			<div class="collapsable-panel" ng-class="{'opened': panel.address.open}" ng-click="panel.address.open = !panel.address.open">
				<div class="panel-heading">
					<span class="glyphicon" ng-class="{'glyphicon-triangle-top': panel.address.open, 'glyphicon-triangle-bottom': !panel.address.open}"></span>
					<h5 class="panel-title" translate="admissibility.form.address">Address</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-3 validation-form">
			<i class="fa hand" ng-class="{'fa-check-circle-o': panel.address.valid !== true, 'fa-check-circle': panel.address.valid === true, 'inactive': panel.address.valid === false}" 
							   ng-click="panel.address.valid === true ? panel.address.valid = null : panel.address.valid = true; panel.address.open = false;"></i>
			<span style="margin-left: 10px"></span>
			<i class="fa hand" ng-class="{'fa-times-circle-o': panel.address.valid !== false, 'fa-times-circle': panel.address.valid === false, 'inactive': panel.address.valid === true}" 
							   ng-click="panel.address.valid === false ? panel.address.valid = null :  panel.address.valid = false;"></i>
		</div>
	</div>
	<div class="row" ng-show="panel.address.open">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row opened">
				<ng-include src="'scripts/app/application/address/address-view.html'"></ng-include>
			</div>
		</div>
	</div>
	<!-- PROJECT -->
	<div class="row">
		<div class="col-xs-9 col-sm-8 col-sm-offset-1">
			<div class="collapsable-panel" ng-class="{'opened': panel.project.open}" ng-click="panel.project.open = !panel.project.open">
				<div class="panel-heading">
					<span class="glyphicon" ng-class="{'glyphicon-triangle-top': panel.project.open, 'glyphicon-triangle-bottom': !panel.project.open}"></span>
					<h5 class="panel-title" translate="admissibility.form.project">Project</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-3 validation-form">
			<i class="fa hand" ng-class="{'fa-check-circle-o': panel.project.valid !== true, 'fa-check-circle': panel.project.valid === true, 'inactive': panel.project.valid === false}" 
							   ng-click="panel.project.valid === true ? panel.project.valid = null : panel.project.valid = true; panel.project.open = false;"></i>
			<span style="margin-left: 10px"></span>
			<i class="fa hand" ng-class="{'fa-times-circle-o': panel.project.valid !== false, 'fa-times-circle': panel.project.valid === false, 'inactive': panel.project.valid === true}" 
							   ng-click="panel.project.valid === false ? panel.project.valid = null :  panel.project.valid = false;"></i>
		</div>
	</div>
	<div class="row" ng-if="panel.project.open">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row opened">
				<ng-include src="'scripts/app/application/project/project-'+application.nature+'-view.html'"></ng-include>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div class="row row-center">
    	<button class="btn btn-danger" translate="admissibility.form.button.decline"
    			 ng-if="!panel.identity.valid || (displayFamily && !panel.family.valid) || !panel.address.valid || !panel.project.valid">Decline</button>
    	<button class="btn btn-primary btn-right" translate="admissibility.form.button.complement" 
    			 ng-if="panel.identity.valid === false || panel.family.valid === false || panel.address.valid === false || panel.project.valid === false">Complement</button>
    	<button class="btn btn-success" translate="admissibility.form.button.accept"
    			 ng-class="{'btn-right': !panel.identity.valid || (displayFamily && !panel.family.valid) || !panel.address.valid || !panel.project.valid}"
    			 ng-if="panel.identity.valid !== false && panel.family.valid !== false && panel.address.valid !== false && panel.project.valid !== false"
    			 ng-disabled="!panel.identity.valid || (displayFamily && !panel.family.valid) || !panel.address.valid || !panel.project.valid"
    			 ng-click="verify()">Accept</button>
	</div>
</div>
    
<script type="text/javascript">
	$("html, body").animate({ scrollTop: 0 }, "slow");
</script>