<div ng-cloak>
    <div class="row title-main title-underline">
    	<h4 translate="agent.title.{{application.type}}.{{application.nature}}" translate-values="{ studentName: '{{studentName}}'}"></h4>
    </div>
	<br><br>
	<!-- IDENTITY -->
	<div class="row">
		<div class="col-xs-9 col-sm-8 col-sm-offset-1">
			<div class="collapsable-panel" data-toggle="collapse" data-target="#panelIdentity">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-triangle-bottom"></span>
					<h5 class="panel-title" translate="admissibility.form.identity{{identity.validateOn ? '.validated' : ''}}">Identity</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-3 validation-form" ng-if="identity.validateOn">
			<i class="fa fa-check-circle"></i>
		</div>
		<div class="col-xs-3 validation-form" ng-if="!identity.validateOn">
			<i class="fa hand" ng-class="{'fa-check-circle-o': identity.valid !== true, 'fa-check-circle': identity.valid === true, 'inactive': identity.valid === false}" 
							   ng-click="identity.valid === true ? identity.valid = null : identity.valid = true;"></i>
			<span style="margin-left: 10px"></span>
			<i class="fa hand" ng-class="{'fa-times-circle-o': identity.valid !== false, 'fa-times-circle': identity.valid === false, 'inactive': identity.valid === true}" 
							   ng-click="identity.valid === false ? identity.valid = null :  identity.valid = false;"></i>
		</div>
	</div>
	<div id="panelIdentity" class="row collapse" ng-class="{'in': identity.valid == null}">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row opened">
				<ng-include src="'scripts/app/application/identity/identity-view.html'"></ng-include>
			</div>
		</div>
	</div>
	<!-- FAMILY -->
	<!-- // TODO Changer cette condition evidemment (pour prendre en compte tous les membres de la famille) -->
	<div ng-if="identity.family.parents">
		<div class="row">
			<div class="col-xs-9 col-sm-8 col-sm-offset-1">
				<div class="collapsable-panel" data-toggle="collapse" data-target="#panelFamily">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-triangle-bottom"></span>
						<h5 class="panel-title" translate="admissibility.form.family">Family</h5>
					</div>
				</div>
			</div>
			<div class="col-xs-3 validation-form">
				<i class="fa hand" ng-class="{'fa-check-circle-o': family.valid !== true, 'fa-check-circle': family.valid === true, 'inactive': family.valid === false}" 
								   ng-click="family.valid === true ? family.valid = null : family.valid = true;"></i>
				<span style="margin-left: 10px"></span>
				<i class="fa hand" ng-class="{'fa-times-circle-o': family.valid !== false, 'fa-times-circle': family.valid === false, 'inactive': family.valid === true}" 
								   ng-click="family.valid === false ? family.valid = null :  family.valid = false;"></i>
			</div>
		</div>
		<div id="panelFamily" class="row collapse" ng-class="{'in': family.valid == null}">
			<div class="col-sm-11 col-sm-offset-1">
				<div class="row validation-visualization-row opened">
					<ng-include src="'scripts/app/application/family/family-view.html'"></ng-include>
				</div>
			</div>
		</div>
	</div>
	<!-- ADDRESS -->
	<div class="row">
		<div class="col-xs-9 col-sm-8 col-sm-offset-1">
			<div class="collapsable-panel" data-toggle="collapse" data-target="#panelAddress">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-triangle-bottom"></span>
					<h5 class="panel-title" translate="admissibility.form.address{{address.validateOn ? '.validated' : ''}}">Address</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-3 validation-form" ng-if="address.validateOn">
			<i class="fa fa-check-circle"></i>
		</div>
		<div class="col-xs-3 validation-form" ng-if="!address.validateOn">
			<i class="fa hand" ng-class="{'fa-check-circle-o': address.valid !== true, 'fa-check-circle': address.valid === true, 'inactive': address.valid === false}" 
							   ng-click="address.valid === true ? address.valid = null : address.valid = true;"></i>
			<span style="margin-left: 10px"></span>
			<i class="fa hand" ng-class="{'fa-times-circle-o': address.valid !== false, 'fa-times-circle': address.valid === false, 'inactive': address.valid === true}" 
							   ng-click="address.valid === false ? address.valid = null :  address.valid = false;"></i>
		</div>
	</div>
	<div id="panelAddress" class="row collapse" ng-class="{'in': address.valid == null}">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row opened">
				<ng-include src="'scripts/app/application/address/address-view.html'"></ng-include>
			</div>
		</div>
	</div>
	<!-- PROJECT -->
	<div class="row">
		<div class="col-xs-9 col-sm-8 col-sm-offset-1">
			<div class="collapsable-panel" data-toggle="collapse" data-target="#panelProject">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-triangle-bottom"></span>
					<h5 class="panel-title" translate="admissibility.form.project">Project</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-3 validation-form">
			<i class="fa hand" ng-class="{'fa-check-circle-o': project.valid !== true, 'fa-check-circle': project.valid === true, 'inactive': project.valid === false}" 
							   ng-click="project.valid === true ? project.valid = null : project.valid = true; project.open = false;"></i>
			<span style="margin-left: 10px"></span>
			<i class="fa hand" ng-class="{'fa-times-circle-o': project.valid !== false, 'fa-times-circle': project.valid === false, 'inactive': project.valid === true}" 
							   ng-click="project.valid === false ? project.valid = null :  project.valid = false;"></i>
		</div>
	</div>
	<div id="panelProject" class="row collapse" ng-class="{'in': project.valid == null}">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row opened">
				<ng-include src="'scripts/app/application/project/project-'+application.nature+'-view.html'"></ng-include>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div class="row row-center">
    	<button class="btn btn-danger" translate="admissibility.form.button.decline"
    			 ng-if="!identity.valid || (displayFamily && !family.valid) || !address.valid || !project.valid">Decline</button>
    	<button class="btn btn-primary btn-right" translate="admissibility.form.button.complement" 
    			 ng-if="identity.valid === false || family.valid === false || address.valid === false || project.valid === false">Complement</button>
    	<button class="btn btn-success" translate="admissibility.form.button.accept"
    			 ng-class="{'btn-right': !identity.valid || (displayFamily && !family.valid) || !address.valid || !project.valid}"
    			 ng-if="identity.valid !== false && family.valid !== false && address.valid !== false && project.valid !== false"
    			 ng-disabled="!identity.valid || (displayFamily && !family.valid) || !address.valid || !project.valid"
    			 ng-click="verify()">Accept</button>
	</div>
</div>
    
<script type="text/javascript">
	$("html, body").animate({ scrollTop: 0 }, "slow");
</script>