<div ng-cloak>
    <div class="row title-main title-underline">
    	<h4 translate="agent.title.{{application.type}}.{{application.nature}}" translate-values="{ studentName: '{{studentName}}'}"></h4>
    </div>
	<br><br>
	<!-- IDENTITY -->
	<div class="row">
		<div class="col-xs-9 col-sm-8 col-sm-offset-1">
			<div class="collapsable-panel" ng-class="{'opened': identityOpened}" ng-click="identityOpened = !identityOpened">
				<div class="panel-heading">
					<span class="glyphicon" ng-class="{'glyphicon-triangle-top': identityOpened, 'glyphicon-triangle-bottom': !identityOpened}"></span>
					<h5 class="panel-title" translate="admissibility.form.identity">Identity</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-3 validation-form">
			<img class="hand" src="assets/images/checkbox_unchecked.png" ng-show="!identityValidated" ng-click="identityValidated = !identityValidated; identityOpened = false;">
			<img class="hand" src="assets/images/checkbox_checked.png" ng-show="identityValidated" ng-click="identityValidated = !identityValidated">
			<span translate="admissibility.form.toVerify" ng-show="!identityValidated">To validate</span>
			<span translate="admissibility.form.verified" ng-show="identityValidated">validate</span>
		</div>
	</div>
	<div class="row" ng-show="identityOpened">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row" ng-class="{'opened': identityOpened}">
				<ng-include src="'scripts/app/application/identity/identity-view.html'"></ng-include>
			</div>
		</div>
	</div>
	<!-- FAMILY -->
	<div class="row">
		<div class="col-xs-9 col-sm-8 col-sm-offset-1">
			<div class="collapsable-panel" ng-class="{'opened': familyOpened}" ng-click="familyOpened = !familyOpened">
				<div class="panel-heading">
					<span class="glyphicon" ng-class="{'glyphicon-triangle-top': familyOpened, 'glyphicon-triangle-bottom': !familyOpened}"></span>
					<h5 class="panel-title" translate="admissibility.form.family">Family</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-3 validation-form">
			<img class="hand" src="assets/images/checkbox_unchecked.png" ng-show="!familyValidated" ng-click="familyValidated = !familyValidated; familyOpened = false;">
			<img class="hand" src="assets/images/checkbox_checked.png" ng-show="familyValidated" ng-click="familyValidated = !familyValidated">
			<span translate="admissibility.form.toVerify" ng-show="!familyValidated">To validate</span>
			<span translate="admissibility.form.verified" ng-show="familyValidated">validate</span>
		</div>
	</div>
	<div class="row" ng-show="familyOpened">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row opened">
				<family-view ng-model="identity"></family-view>
			</div>
		</div>
	</div>
	<!-- ADDRESS -->
	<div class="row">
		<div class="col-xs-9 col-sm-8 col-sm-offset-1">
			<div class="collapsable-panel" ng-class="{'opened': addressOpened}" ng-click="addressOpened = !addressOpened">
				<div class="panel-heading">
					<span class="glyphicon" ng-class="{'glyphicon-triangle-top': addressOpened, 'glyphicon-triangle-bottom': !addressOpened}"></span>
					<h5 class="panel-title" translate="admissibility.form.address">Address</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-3 validation-form">
			<img class="hand" src="assets/images/checkbox_unchecked.png" ng-show="!addressValidated" ng-click="addressValidated = !addressValidated; addressOpened = false;">
			<img class="hand" src="assets/images/checkbox_checked.png" ng-show="addressValidated" ng-click="addressValidated = !addressValidated">
			<span translate="admissibility.form.toVerify" ng-show="!addressValidated">To validate</span>
			<span translate="admissibility.form.verified" ng-show="addressValidated">validate</span>
		</div>
	</div>
	<div class="row" ng-show="addressOpened">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row" ng-class="{'opened': addressOpened}">
				<ng-include src="'scripts/app/application/address/address-view.html'"></ng-include>
			</div>
		</div>
	</div>
	<!-- PROJECT -->
	<div class="row">
		<div class="col-xs-9 col-sm-8 col-sm-offset-1">
			<div class="collapsable-panel" ng-class="{'opened': projectOpened}" ng-click="projectOpened = !projectOpened">
				<div class="panel-heading">
					<span class="glyphicon" ng-class="{'glyphicon-triangle-top': projectOpened, 'glyphicon-triangle-bottom': !projectOpened}"></span>
					<h5 class="panel-title" translate="admissibility.form.project">Project</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-3 validation-form">
			<img class="hand" src="assets/images/checkbox_unchecked.png" ng-show="!projectValidated" ng-click="projectValidated = !projectValidated; projectOpened = false;">
			<img class="hand" src="assets/images/checkbox_checked.png" ng-show="projectValidated" ng-click="projectValidated = !projectValidated">
			<span translate="admissibility.form.toVerify" ng-show="!projectValidated">To validate</span>
			<span translate="admissibility.form.verified" ng-show="projectValidated">validate</span>
		</div>
	</div>
	<div class="row" ng-show="projectOpened">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row" ng-class="{'opened': projectOpened}">
				<ng-include src="'scripts/app/application/project/project'+viewSuffix+'-view.html'"></ng-include>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div class="row row-center">
    	<button class="btn btn-danger" translate="admissibility.form.button.decline">Decline</button>
    	<button class="btn btn-success btn-right" translate="admissibility.form.button.accept"
    			 ng-disabled="!identityValidated || (displayFamily && !familyValidated) || !addressValidated || !projectValidated"
    			 ng-click="verify()">Accept</button>
	</div>
</div>
    
<script type="text/javascript">
	$("html, body").animate({ scrollTop: 0 }, "slow");
</script>