<div ng-cloak>
    <div class="row title-main title-underline">
    	<h4 translate="follow.title"></h4>
    </div>
	<br><br>
	
	<ul class="nav nav-tabs nav-justified">
		<li role="presentation" ng-class="{'active': tab === 'inProgress'}" ng-click="changeTab('inProgress')" style="cursor: pointer;">
			<a translate="follow.tabs.inProgress">in progress</a>
		</li>
		<li role="presentation" ng-class="{'active': tab === 'receipted'}" ng-click="changeTab('receipted')" style="cursor: pointer;">
			<a translate="follow.tabs.receipted">Foreigner number</a>
		</li>
		<li role="presentation" ng-class="{'active': tab === 'issued'}" ng-click="changeTab('issued')" style="cursor: pointer;">
			<a translate="follow.tabs.issued">Foreigner Name</a>
		</li>
	</ul>
	
	<br/>
	
	<div class="row row-center">
		<div class="col-xs-12">
			<h5 translate="applicationList.noApplication" ng-if="applications.length == 0">No application</h5>
			<table class="table" ng-if="applications.length > 0">
				<thead>
					<tr>
						<th style="width:17%;" translate="applicationList.lastName"></th>
						<th style="width:17%;" translate="applicationList.firstName"></th>
						<th style="width:24%;" translate="applicationList.id"></th>
						<th style="width:42%;" translate="applicationList.applicationType"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="application in applications" style="text-align: left;" >
						<td>{{application.identity.lastName}}</td>
						<td>{{application.identity.firstName}}</td>
						<td ng-if="application.identity.foreignerNumber">{{application.identity.foreignerNumber}}</td>
						<td ng-if="!application.identity.foreignerNumber">{{application.userId}}</td>
						<td>
							<span translate="sejourApp.ApplicationType.{{application.type}}"></span>
							<span translate="sejourApp.ApplicationNature.{{application.nature}}"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
    
<script type="text/javascript">
	$("html, body").animate({ scrollTop: 0 }, "slow");
</script>