<div ng-cloak>
    <div class="row title-main title-underline">
    	<h4 translate="agent.title.{{application.type}}.{{application.nature}}" translate-values="{ studentName: '{{studentName}}'}"></h4>
    </div>
	<br><br>
	
	<div ng-repeat="panel in panels">
		<div class="row">
			<div class="col-xs-9 col-sm-8 col-sm-offset-1">
				<div class="collapsable-panel" ng-class="{'opened': panel.opened}" ng-click="panel.opened = !panel.opened">
					<div class="panel-heading">
						<span class="glyphicon" ng-class="{'glyphicon-triangle-top': panel.opened, 'glyphicon-triangle-bottom': !panel.opened}"></span>
						<h5 class="panel-title" ng-if="!panel.personType">{{'identification.documents.'+panel.documentType | translate}}</h5>
						<h5 class="panel-title" ng-if="panel.personType">{{'identification.documents.'+panel.documentType | translate}} - {{'sejourApp.PersonType.'+panel.personType | translate: panel}}</h5>
					</div>
				</div>
			</div>
			<div class="col-xs-3 validation-form">
				<img class="hand" src="assets/images/checkbox_unchecked.png" ng-show="!panel.validated" ng-click="updatePanel(panel, true)">
				<img class="hand" src="assets/images/checkbox_checked.png" ng-show="panel.validated" ng-click="updatePanel(panel, false)">
				<span translate="identification.documents.toCertify" ng-show="!panel.validated">To validate</span>
				<span translate="identification.documents.certified" ng-show="panel.validated">validate</span>
			</div>
		</div>
		<div class="row" ng-show="panel.opened">
			<div class="col-sm-11 col-sm-offset-1">
				<div class="row validation-visualization-row opened">
					<photo-viewer ng-model="panel.documents" type-filter="{{::panel.documentType}}"></photo-viewer>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div class="row row-center">
    	<button class="btn btn-success" 
    			translate="identification.documents.button.accept"
    			ng-disabled="docToValidate > 0"
    			ng-click="certify()" >Accept</button>
	</div>
</div>
    
<script type="text/javascript">
	$("html, body").animate({ scrollTop: 0 }, "slow");
</script>