<div ng-cloak>
    <div class="row title-main title-underline">
    	<h4 translate="procedure.title">Title</h4>
    </div>
    <br>
    <steps-menu stepnumber="1"></steps-menu>
    <br><br>

	<form name="identityForm" role="form" class="form-horizontal" novalidate ng-submit="save()" show-validation>
	
		<div class="row">
			<div class="col-xs-1 col-xs-offset-1">
		    	<div class="step-number-align">
		    		<div class="step-number">1</div>
		    	</div>
		    </div>
		    <div class="col-xs-10 form-title-text">
		    	<p translate="procedure.identity.step.long">Identity</p>
		    </div>
		</div>
		<br>
		<div ng-repeat="parent in parents">
			<div class="row" id="parentHeader{{::$index}}">
				<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-2">
					<div class="collapsable-panel" ng-class="{'opened': panelOpen===$index}" ng-click="updatePanelOpen($index)">
						<div class="panel-heading">
							<span class="glyphicon" ng-class="{'glyphicon-triangle-top': panelOpen===$index, 'glyphicon-triangle-bottom': panelOpen!==$index}"></span>
							<h5 class="panel-title" translate="sejourApp.PersonType.parents" translate-values="{ index: '{{$index+1}}'}">Parent</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="row" id="parentContent{{::$index}}" ng-show="panelOpen===$index">
				<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
					<identity-form-light ng-model="parent.identity"></identity-form-light>
					<address-form-light ng-model="parent.address"></address-form-light>
					<br>
					
				    <div class="form-title-text-inline">
						<p translate="identity.form.document.title">Identity documents</p>
				    </div>
				    <br>
					<file-upload ng-model="parent.identity.documents" doc-type="civilStatusAct" translate-key="identity.form.civilStatusAct"></file-upload>
					<br>
				</div>
			</div>
		</div>
		
		<br>
	    <div class="row row-center">
        	<button type="button" class="btn btn-default" translate="global.button.back" ng-click="back()">Back</button>
       		<button type="submit" class="btn btn-primary btn-right" translate="global.button.continue"
       				 ng-disabled="identityForm.$invalid || identityForm.$submitted">Continue</button>
        </div>
	</form>
</div>

<script type="text/javascript">
	$("html, body").animate({ scrollTop: 0 }, "slow");
</script>
