<div ng-cloak>
    <div class="row title-main title-underline">
    	<h4 translate="procedure.title">Title</h4>
    </div>
    <br>
    <steps-menu stepnumber="1"></steps-menu>
    <br><br>

	<form name="identityForm" role="form" class="form-horizontal" novalidate ng-submit="save()" show-validation>
	
		<div class="row">
			<div class="col-xs-1 col-xs-offset-1">
		    	<div class="step-number-align">
		    		<div class="step-number">1</div>
		    	</div>
		    </div>
		    <div class="col-xs-10 form-title-text">
		    	<p translate="procedure.identity.step.long">Identity</p>
		    </div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
			    
				<identity-form-light ng-model="identity" with-francisation="withFrancisation" with-tooltip="true"></identity-form-light>
				
			    <div class="form-group">
			        <label translate="identity.form.passportNumber" for="field_passportNumber">PassportNumber</label>
			        <input type="text" class="form-control" name="passportNumber" id="field_passportNumber" ng-model="identity.passportNumber" required>
			        <div ng-show="identityForm.passportNumber.$dirty && identityForm.passportNumber.$invalid">
			            <p class="help-block" ng-show="identityForm.passportNumber.$error.required" translate="entity.validation.required">
			                This field is required.
			            </p>
			        </div>
			    </div>
				<div class="form-group">
			        <label translate="identity.form.maritalStatus" for="field_maritalStatus">Marital status</label>
			        <select-marital-status field-name="maritalStatus" field-id="field_maritalStatus" ng-model="identity.maritalStatus" required></select-marital-status>
			        <div ng-show="identityForm.maritalStatus.$dirty && identityForm.maritalStatus.$invalid">
			            <p class="help-block" ng-show="identityForm.maritalStatus.$error.required" translate="entity.validation.required">
			                This field is required.
			            </p>
			        </div>
			    </div>
			    <div class="form-group">
			        <label translate="identity.form.childsNumber" for="field_childsNumber">ChildsNumber</label>
			        <input type="number" min="0" class="form-control" name="childsNumber" id="field_childsNumber" ng-model="identity.childsNumber" required>
			        <div ng-show="identityForm.chidlsNumber.$dirty && identityForm.childsNumber.$invalid">
			            <p class="help-block" ng-show="identityForm.childsNumber.$error.required" translate="entity.validation.required">
			                This field is required.
			            </p>
		                <p class="help-block" ng-show="identityForm.childsNumber.$error.number" translate="entity.validation.number">
		                    This field should be a number.
		                </p>
		                <p class="help-block" ng-show="identityForm.childsNumber.$error.min" translate="entity.validation.max" translate-values="{max: '0'}">
		                    This field should be a positive.
		                </p>
			        </div>
			    </div>
			    <div class="form-group">
			        <label translate="identity.form.brothersNumber" for="field_brothersNumber">BrothersNumber</label>
			        <input type="number" min="0" class="form-control" name="brothersNumber" id="field_brothersNumber" ng-model="identity.brothersNumber" required>
			        <div ng-show="identityForm.brothersNumber.$dirty && identityForm.brothersNumber.$invalid">
			            <p class="help-block" ng-show="identityForm.brothersNumber.$error.required" translate="entity.validation.required">
			                This field is required.
			            </p>
		                <p class="help-block" ng-show="identityForm.brothersNumber.$error.number" translate="entity.validation.number">
		                    This field should be a number.
		                </p>
		                <p class="help-block" ng-show="identityForm.brothersNumber.$error.min" translate="entity.validation.max" translate-values="{max: '0'}">
		                    This field should be a positive.
		                </p>
			        </div>
			    </div>
				<div class="form-group">
			        <label translate="identity.form.activity" for="field_activity">Activity</label>
			        <select-activity-type field-name="activity" field-id="field_activity" ng-model="identity.activity" required></select-activity-type>
			        <div ng-show="identityForm.activity.$dirty && identityForm.activity.$invalid">
			            <p class="help-block" ng-show="identityForm.activity.$error.required" translate="entity.validation.required">
			                This field is required.
			            </p>
			        </div>
			    </div>
			</div>
		</div>
		<div ng-if="needDocuments">
			<br>
			<div class="row">
				<div class="col-xs-1 col-xs-offset-1">
			    	
			    </div>
			    <div class="col-xs-10 form-title-text">
					<p translate="identity.form.document.title">Identity documents</p>
			    </div>
			</div>
		    <br>
		    <div class="row">
				<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
				    <file-upload ng-model="identity.documents" doc-type="passport" translate-key="identity.form.passport"></file-upload>
				    <file-upload ng-model="identity.documents" doc-type="birthAct" translate-key="identity.form.birthAct"></file-upload>
			   	</div>
			</div>
		</div>
		<br>
	    <div class="row row-center">
       		<button type="submit" class="btn btn-primary" translate="global.button.continue"
       				 ng-disabled="identityForm.$invalid || identityForm.$submitted">Continue</button>
        </div>
	</form>
</div>

<script type="text/javascript">
	$("html, body").animate({ scrollTop: 0 }, "slow");
</script>
