<div ng-cloak>
	<div class="form-group">
        <label translate="identity.form.lastName">LastName</label>
        <input type="text" class="form-control" ng-model="identity.lastName" readonly="readonly">
    </div>
    <div class="form-group">
        <label translate="identity.form.usedLastName">UsedLastName</label>
        <input type="text" class="form-control" ng-model="identity.usedLastName" readonly="readonly">
    </div>
    <div class="form-group">
        <label translate="identity.form.firstName">FirstName</label>
        <input type="text" class="form-control" ng-model="identity.firstName" readonly="readonly">
    </div>
    <div ng-if="identity.francisation != undefined">
	    <div class="form-group">
	        <label translate="identity.form.francisation">Francisation</label>
	        <div>
		        <label class="radio-inline"><input type="radio" ng-model="identity.francisation" ng-value="true" disabled>{{'identity.form.francisation.true' | translate}}</label>
				<label class="radio-inline"><input type="radio" ng-model="identity.francisation" ng-value="false" disabled>{{'identity.form.francisation.false' | translate}}</label>
	        </div>
	    </div>
	    <div class="form-group" ng-if="identity.francisation">
	        <label translate="identity.form.lastNameFrancise">LastNameFrancise</label>
	        <input type="text" class="form-control" ng-model="identity.lastNameFrancise" readonly="readonly">
	    </div>
	    <div class="form-group" ng-if="identity.francisation">
	        <label translate="identity.form.firstNameFrancise">FirstNameFrancise</label>
	        <input type="text" class="form-control" ng-model="identity.firstNameFrancise" >
	    </div>
	</div>
    <div class="form-group">
        <label translate="identity.form.sex">Sex</label>
        <div>
	        <label class="radio-inline"><input type="radio" ng-model="identity.sex" value="F" disabled>{{'sejourApp.SexType.F' | translate}}</label>
			<label class="radio-inline"><input type="radio" ng-model="identity.sex" value="M" disabled>{{'sejourApp.SexType.M' | translate}}</label>
        </div>
    </div>
    <div class="form-group">
        <label translate="identity.form.birthDate">BirthDate</label>
        <input-birth-date ng-model="identity.birthDate" readonly="readonly"></input-birth-date>
    </div>
    <div class="form-group">
        <label translate="identity.form.birthCity">BirthCity</label>
        <input type="text" class="form-control" ng-model="identity.birthCity" readonly="readonly">
    </div>
    <div class="form-group">
        <label translate="identity.form.birthCountry">BirthCountry</label>
        <select-country ng-model="identity.birthCountry" disabled="disabled"></select-country>
    </div>
    <div class="form-group">
        <label translate="identity.form.nationality">Nationality</label>
        <select-country ng-model="identity.nationality" disabled="disabled"></select-country>
    </div>
</div>
