<div ng-cloak>
    <div class="row">
    	<div class="col-xs-11 col-xs-offset-1 title-underscore">
    		<h4 translate="etudier.title">Request for a student stay</h4>
   		</div>
    </div>
    <br>

	<form name="rdvForm" role="form" class="form-horizontal" novalidate ng-submit="save()" show-validation>
		<div class="row row-center">
			<div class="col-xs-10 col-xs-offset-1 form-title-text">
		    	<p translate="rdv.form.title">RDV</p>
		    </div>
		</div>
		<br>
		<div class="row">
	    	<div class="col-xs-10 col-xs-offset-1 col-lg-offset-1">
	    		<div id="datetimepicker" class="img-thumbnail rdv">
			    	<input type="text"
		    			   	id="datetimepicker-input"
				            datetimepicker
				            datetimepicker-options="{{datePickerOptions}}"
				            ng-model="currentDay"
				            style="display:none;">
			    </div>
			    <div class="rdv-space">&nbsp;</div>
	    		<div class="panel panel-success rdv-hour">
			    	<div class="panel-heading">
			    		<p translate="rdv.form.hour.title" translate-values="{currentDate: '{{currentDay}}'}">Slot</p>
			    	</div>
			    	<div class="panel-body">
			    		<div ng-if="hours.length == 0">
			    			<p translate="rdv.form.hour.empty">Select a day</p>
			    		</div>
			    		<div class="rdv-hour-cell" ng-if="hours.length > 0 " ng-repeat="hour in currentHours" ng-click="selectHour(hour)" ng-class="{'selected': hour==currentHour}">
			    			{{hour}}
			    		</div>
			    	</div>
			    </div>
			</div>
		</div>
		<br>
		<br>
	    <div class="row row-center">
	    	<div class="col-xs-10 col-xs-offset-1">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h5 style="font-weight: normal; line-height: 1.5" translate="rdv.form.text">Please verify</h5>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<div class="row row-center">
			<div class="col-xs-6 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-2" style="text-align: left;">
				<dfn>
					<p><strong>Ambassade de France à Séoul</strong></p>
					<br>
					<p>43-12 Seosomun-ro,<br>Seodaemun-gu<br>SEOUL 03741 (120-030)</p>
					<p>Tél : (82-2) 3149 4300</p>
					<br>
					<p>Métro Chungjeogno, Sortie 3</p>
				</dfn>
			</div>
			<div class="col-xs-6 col-sm-7 col-md-6">
				<img src="assets/images/ambassade_france_map.png" class="img-responsive img-thumbnail">
			</div>
		</div>
		<br>
		<br>
	    <div class="row row-center">
	    	<div class="col-xs-6 col-xs-offset-3">
	        	<button type="submit" ng-disabled="currentHour == ''" class="btn btn-primary"
	        		translate="rdv.form.button">Continue</button>
       		</div>
        </div>
	</form>
</div>
    
<script type="text/javascript">
	$("html, body").animate({ scrollTop: 0 }, "slow");

    $("#datetimepicker").on("dp.change", function(e) {
    	angular.element('#datetimepicker').scope().changeHours(e.date);
    });
</script>
