<div ng-cloak>
    <div class="row title-underscore">
    	<h4 translate="etudier.title">Request for a student stay</h4>
    </div>
    <br>
    <steps-menu stepnumber="4"></steps-menu>
    <br><br>
    
	<div class="row">
		<div class="col-xs-1 col-xs-offset-1">
	    	<div class="step-number-align">
	    		<div class="step-number">4</div>
	    	</div>
	    </div>
	    <div class="col-xs-10 form-title-text">
	    	<p translate="etudier.summary.step.long">Summary</p>
	    </div>
	</div>
	<br>
	<div class="row row-center">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 style="font-weight: normal; line-height: 1.5" translate="summary.form.subtitle">Please verify</h4>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="collapsable-panel" ng-class="{'opened': identityOpened}" ng-click="identityOpened = !identityOpened">
				<div class="panel-heading">
					<span class="glyphicon" ng-class="{'glyphicon-triangle-top': identityOpened, 'glyphicon-triangle-bottom': !identityOpened}"></span>
					<h5 class="panel-title" translate="summary.form.identity">Identity</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="identityOpened">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row" ng-class="{'opened': identityOpened}">
				<div class="col-sm-5">
					<div class="form-group">
				        <label translate="identity.form.lastName" for="field_lastName">LastName</label>
				        <input type="text" class="form-control" name="lastName" id="field_lastName" ng-model="demande.identity.lastName" readonly="readonly">
				    </div>
				    <div class="form-group">
				        <label translate="identity.form.usedLastName" for="field_usedLastName">UsedLastName</label>
				        <input type="text" class="form-control" name="usedLastName" id="field_usedLastName" ng-model="demande.identity.usedLastName" readonly="readonly">
				    </div>
				    <div class="form-group">
				        <label translate="identity.form.firstName" for="field_firstName">FirstName</label>
				        <input type="text" class="form-control" name="firstName" id="field_firstName" ng-model="demande.identity.firstName" readonly="readonly">
				    </div>
				    <div class="form-group">
				        <label translate="identity.form.sex" for="field_sex">Sex</label>
				        <div>
					        <label class="radio-inline"><input type="radio" id="field_sex" name="sex" ng-model="demande.identity.sex" value="F" disabled>{{'sejourApp.SexType.F' | translate}}</label>
							<label class="radio-inline"><input type="radio" id="field_sex" name="sex" ng-model="demande.identity.sex" value="M" disabled>{{'sejourApp.SexType.M' | translate}}</label>
		                </div>
				    </div>
				    <div class="form-group">
				        <label translate="identity.form.birthDate" for="field_birthDate">BirthDate</label>
				        <div class="input-group date">
					        <span class="input-group-addon">
		                        <span class="fa fa-calendar"></span>
		                    </span>
		                    <input type="text" class="form-control"
						           name="birthDateTxt" id="field_birthDateTxt"
						           ng-model="demande.identity.birthDateTxt"
						           placeholder="{{'global.form.date.format' | translate}}" readonly="readonly">
						</div>
				    </div>
				    <div class="form-group">
				        <label translate="identity.form.birthCity" for="field_birthCity">BirthCity</label>
				        <input type="text" class="form-control" name="birthCity" id="field_birthCity"
				                ng-model="demande.identity.birthCity" readonly="readonly">
				    </div>
				    <div class="form-group">
				        <label translate="identity.form.birthCountry" for="field_birthCountry">BirthCountry</label>
				        <select class="form-control" name="birthCountry" id="field_birthCountry"
						      ng-options="country.key as country.name for country in countries | orderBy:'name'"
						      ng-model="demande.identity.birthCountry" disabled></select>
				    </div>
				    <div class="form-group">
				        <label translate="identity.form.nationality" for="field_nationality">Nationality</label>
				        <select class="form-control" name="nationality" id="field_nationality"
						      ng-options="country.key as country.name for country in countries | orderBy:'name'"
						      ng-model="demande.identity.nationality" disabled></select>
				    </div>
				    <div class="form-group">
				        <label translate="identity.form.passportNumber" for="field_passportNumber">PassportNumber</label>
				        <input type="text" class="form-control" name="passportNumber" id="field_passportNumber" ng-model="demande.identity.passportNumber" readonly="readonly">
				    </div>
				</div>
				<div class="col-sm-7">
					<div class="panel panel-default">
						<div class="panel-heading" style="text-align: center">
							<span class="glyphicon glyphicon-arrow-right hand pull-right" ng-show="identity.images.length > 1" ng-click="nextImg(identity)"></span>
							<span class="glyphicon glyphicon-arrow-left hand pull-left" ng-show="identity.images.length > 1" ng-click="previousImg(identity)"></span>
							<span translate="{{identity.currentImg.title}}"></span><span> ({{identity.currentImgIndex + 1}}/{{identity.images.length}})</span>
						</div>
						<div class="panel-body">
							<img src="{{identity.currentImg.src}}" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="collapsable-panel" ng-class="{'opened': addressOpened}" ng-click="addressOpened = !addressOpened">
				<div class="panel-heading">
					<span class="glyphicon" ng-class="{'glyphicon-triangle-top': addressOpened, 'glyphicon-triangle-bottom': !addressOpened}"></span>
					<h5 class="panel-title" translate="summary.form.address">Address</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="addressOpened">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row" ng-class="{'opened': addressOpened}">
				<div class="col-sm-5">
					<div class="form-group">
			            <label translate="address.form.owner" for="field_owner">Owner</label>
			            <input type="text" class="form-control" name="owner" id="field_owner"
			                    ng-model="demande.address.owner" readonly="readonly">
			        </div>
			        <div class="form-group">
			            <label translate="address.form.number" for="field_number">Number</label>
			            <input type="text" class="form-control" name="number" id="field_number" ng-model="demande.address.number" 
			            		readonly="readonly">
			        </div>
			        <div class="form-group">
			            <label translate="address.form.street" for="field_street">Street</label>
			            <input type="text" class="form-control" name="street" id="field_street"
			                    ng-model="demande.address.street" readonly="readonly">
			        </div>
			        <div class="form-group">
			            <label translate="address.form.complement" for="field_complement">Complement</label>
			            <input type="text" class="form-control" name="complement" id="field_complement"
			                    ng-model="demande.address.complement" readonly="readonly">
			
			        </div>
			        <div class="form-group">
			            <label translate="address.form.postalCode" for="field_postalCode">PostalCode</label>
			            <input type="text" class="form-control" name="postalCode" id="field_postalCode"
			                    ng-model="demande.address.postalCode" readonly="readonly">
			        </div>
			        <div class="form-group">
			            <label translate="address.form.city" for="field_city">City</label>
			            <input type="text" class="form-control" name="city" id="field_city"
			                    ng-model="demande.address.city" readonly="readonly">
			        </div>
			        <div class="form-group">
			            <label translate="address.form.country" for="field_country">Country</label>
			            <select class="form-control" name="country" id="field_country"
						      ng-options="country.key as country.name for country in countries | orderBy:'name'"
						      ng-model="demande.address.country" disabled></select>
			        </div>
			        <div class="form-group">
			            <label translate="address.form.phone" for="field_phone">Phone</label>
			            <input type="text" class="form-control" name="phone" id="field_phone"
			                    ng-model="demande.address.phone" readonly="readonly">
			        </div>
			        <div class="form-group">
			            <label translate="address.form.email" for="field_email">Email</label>
			            <input type="text" class="form-control" name="email" id="field_email"
			                    ng-model="demande.address.email" readonly="readonly">
			        </div>
			        <div class="form-group">
			            <label translate="address.form.contactType" for="field_contactType">ContactType</label>
			            <select class="form-control" name="contactType" ng-model="demande.address.contactType" id="field_contactType" 
			            		tabindex="0" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="{{'address.form.contactType.tooltip' | translate}}"
			            		disabled>
			                <option value="email" translate="sejourApp.ContactType.email">email</option>
			                <option value="sms" translate="sejourApp.ContactType.sms">sms</option>
			                <option value="postal" translate="sejourApp.ContactType.postal">postal</option>
			            </select>
			        </div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="collapsable-panel" ng-class="{'opened': projectOpened}" ng-click="projectOpened = !projectOpened">
				<div class="panel-heading">
					<span class="glyphicon" ng-class="{'glyphicon-triangle-top': projectOpened, 'glyphicon-triangle-bottom': !projectOpened}"></span>
					<h5 class="panel-title" translate="summary.form.project">Project</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="projectOpened">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row validation-visualization-row" ng-class="{'opened': projectOpened}">
				<div class="col-sm-5">
					<div class="form-group">
			            <label translate="project.form.comingDate" for="field_comingDate">ComingDate</label>
				        <div class="input-group date">
					        <span class="input-group-addon">
		                        <span class="fa fa-calendar"></span>
		                    </span>
		                    <input type="text" class="form-control"
						           name="comingDateTxt" id="field_comingDateTxt"
						           ng-model="demande.project.comingDateTxt"
						           placeholder="{{'global.form.date.format' | translate}}"
						           readonly="readonly">
						</div>
			        </div>
			        <div class="form-group">
			            <label translate="project.form.university" for="field_university">University</label>
			            <input type="text" class="form-control" name="university" id="field_university"
			                    ng-model="demande.project.university" readonly="readonly">
			        </div>
			        <div class="form-group">
			            <label translate="project.form.training" for="field_training">Training</label>
			            <input type="text" class="form-control" name="training" id="field_training"
			                    ng-model="demande.project.training" readonly="readonly">
			        </div>
			        <div class="form-group">
			            <label translate="project.form.trainingStart" for="field_trainingStart">TrainingStart</label>
				        <div class="input-group date">
					        <span class="input-group-addon">
		                        <span class="fa fa-calendar"></span>
		                    </span>
		                    <input type="text" class="form-control"
						           name="trainingStartTxt" id="field_trainingStartTxt"
						           ng-model="demande.project.trainingStartTxt"
						           placeholder="{{'global.form.date.format' | translate}}"
						           readonly="readonly">
						</div>
			        </div>
			        <div class="form-group">
			            <label translate="project.form.trainingLength" for="field_trainingLength">TrainingLength</label>
			            <input type="number" class="form-control" name="trainingLength" id="field_trainingLength"
			                    ng-model="demande.project.trainingLength" readonly="readonly">
			        </div>
			        <div class="form-group">
			            <label translate="project.form.resourceType" for="field_resourceType">ResourceType</label>
			            <select class="form-control" name="resourceType" ng-model="demande.project.resourceType" id="field_resourceType" disabled>
			                <option value="bourse" translate="sejourApp.ResourceType.bourse">bourse</option>
			                <option value="capital" translate="sejourApp.ResourceType.capital">capital</option>
			                <option value="garant" translate="sejourApp.ResourceType.garant">garant</option>
			                <option value="month" translate="sejourApp.ResourceType.month">month</option>
			            </select>
			        </div>
			        <div class="form-group">
			            <label translate="project.form.resourceAmount" for="field_resourceAmount">ResourceAmount</label>
			            <input type="number" class="form-control" name="resourceAmount" id="field_resourceAmount"
			                    ng-model="demande.project.resourceAmount" readonly="readonly">
			        </div>
				</div>
				<div class="col-sm-7">
					<div class="panel panel-default">
						<div class="panel-heading" style="text-align: center">
							<span class="glyphicon glyphicon-arrow-right hand pull-right" ng-show="project.images.length > 1" ng-click="nextImg(project)"></span>
							<span class="glyphicon glyphicon-arrow-left hand pull-left" ng-show="project.images.length > 1" ng-click="previousImg(project)"></span>
							<span translate="{{project.currentImg.title}}"></span><span> ({{project.currentImgIndex + 1}}/{{project.images.length}})</span>
						</div>
						<div class="panel-body">
							<img src="{{project.currentImg.src}}" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
    <div class="row row-center">
       	<button class="btn btn-default" translate="etudier.button.back" ui-sref="etudier/project">Back</button>
       	<button class="btn btn-success btn-right" translate="summary.form.button.validate"
       			 ng-disabled="projectForm.$invalid || projectForm.$submitted"
       			 ng-click="save()">Validate</button>
    </div>
</div>

<script type="text/javascript">
	$("html, body").animate({ scrollTop: 0 }, "slow");
</script>
