<div ng-cloak>
    <div class="row title-underscore">
    	<h4 translate="recevability.list.title"></h4>
    </div>
	<br><br>
	
	<div class="row">
		<div class="col-xs-12 list" ng-if="demandes.length == 0">
	    	<h5 translate="recevability.list.noApplication">No application</h5>
	    </div>
		<div class="col-xs-12 list" ng-if="demandes.length > 0">
	    	<table class="table">
				<thead>
					<tr>
						<th style="width:18%;" translate="recevability.list.lastName"></th>
						<th style="width:18%;" translate="recevability.list.firstName"></th>
						<th style="width:18%;" translate="recevability.list.nationality"></th>
						<th style="width:28%;" translate="recevability.list.applicationType"></th>
						<th style="width:18%;" translate="recevability.list.creationDate"></th>
					</tr>
				</thead>
				<tbody>
					<tr class="applicationListLine" ng-repeat="demande in demandes" ui-sref="etudier/recevability({id:demande.id})">
						<td>{{demande.identity.lastName}}</td>
						<td>{{demande.identity.firstName}}</td>
						<td>{{getNationality(demande.identity.nationality)}}</td>
						<td>
							<span translate="sejourApp.TypeDemande.{{demande.type}}"></span>
							<span translate="sejourApp.NatureDemande.{{demande.nature}}"></span>
						</td>
						<td>{{getFormattedDate(demande.creationDate)}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
    
<script type="text/javascript">
	$("html, body").animate({ scrollTop: 0 }, "slow");
</script>