<div ng-cloak>
    <div class="col-sm-5">
		<div class="form-group" ng-if="!isRenewal">
            <label translate="project.form.comingDate">ComingDate</label>
            <input-date ng-model="project.comingDate" readonly="readonly"></input-date>
        </div>
        <div class="form-group">
            <label translate="project.form.university">University</label>
            <input type="text" class="form-control" ng-model="project.university" readonly="readonly">
        </div>
        <div class="form-group">
            <label translate="project.form.training">Training</label>
            <input type="text" class="form-control"ng-model="project.training" readonly="readonly">
        </div>
        <div class="form-group">
            <label translate="project.form.trainingStart">TrainingStart</label>
            <input-date ng-model="project.trainingStart" readonly="readonly"></input-date>
        </div>
        <div class="form-group">
            <label translate="project.form.trainingLength">TrainingLength</label>
            <input type="number" class="form-control" ng-model="project.trainingLength" readonly="readonly">
        </div>
        <div class="form-group">
            <label translate="project.form.resourceType">ResourceType</label>
            <select class="form-control" ng-model="project.resourceType" disabled>
                <option value="bourse" translate="sejourApp.ResourceType.bourse">bourse</option>
                <option value="capital" translate="sejourApp.ResourceType.capital">capital</option>
                <option value="garant" translate="sejourApp.ResourceType.garant">garant</option>
                <option value="month" translate="sejourApp.ResourceType.month">month</option>
            </select>
        </div>
        <div class="form-group">
            <label translate="project.form.resourceAmount">ResourceAmount</label>
            <input type="number" class="form-control" ng-model="project.resourceAmount" readonly="readonly">
        </div>
	</div>
	<div class="col-sm-7">
		<photo-viewer ng-model="project.documents"></photo-viewer>
	</div>
</div>