<div ng-cloak>
    <div class="col-sm-5">
		<div class="form-group" ng-if="project.comingDate">
            <label translate="project.form.comingDate">ComingDate</label> : <span>{{::$root.getFormattedDate(project.comingDate)}}</span>
        </div>
        <div class="form-group">
            <label translate="project.form.university">University</label> : <span>{{::project.university}}</span>
        </div>
        <div class="form-group">
            <label translate="project.form.training">Training</label> : <span>{{::project.training}}</span>
        </div>
        <div class="form-group">
            <label translate="project.form.trainingStart">TrainingStart</label> : <span>{{::$root.getFormattedDate(project.trainingStart)}}</span>
        </div>
        <div class="form-group">
            <label translate="project.form.trainingLength">TrainingLength</label> : <span>{{::project.trainingLength}}</span>
        </div>
        <div class="form-group">
            <label translate="project.form.resourceType">ResourceType</label> : <span>{{::'sejourApp.ResourceType.' + project.resourceType | translate}}</span>
        </div>
        <div class="form-group">
            <label translate="project.form.resourceAmount.total" ng-if="project.resourceType === 'capital'">ResourceAmount</label>
            <label translate="project.form.resourceAmount.monthly" ng-if="project.resourceType !== 'capital'">ResourceAmount</label> : <span>{{::project.resourceAmount}}</span>
        </div>
	</div>
	<div class="col-sm-7">
		<photo-viewer ng-model="project.documents"></photo-viewer>
	</div>
</div>