<div ng-cloak>
	<div ng-if="!project.detailMode" ng-init="panelFrancisationOpen = true; panelResourceOpen = true;  panelTaxOpen = true;">
		<div class="collapsable-panel" id="panelFrancisation" ng-class="{'opened': panelFrancisationOpen}" ng-click="panelFrancisationOpen = !panelFrancisationOpen">
			<div class="panel-heading">
				<span class="glyphicon" ng-class="{'glyphicon-triangle-top': panelFrancisationOpen, 'glyphicon-triangle-bottom': !panelFrancisationOpen}"></span>
				<h5 class="panel-title" translate="project.form.francisation.title">Resources</h5>
			</div>
		</div>
		<div ng-if="panelFrancisationOpen" style="margin-left: 25px">
			<div class="form-group">
		        <label translate="project.form.francisation">Francisation</label> : <span>{{::'project.form.francisation.' + project.francisation | translate}}</span>
		    </div>
		    <div class="form-group" ng-if="project.francisation">
		        <label translate="project.form.lastNameFrancise">LastNameFrancise</label> : <span>{{::project.lastNameFrancise}}</span>
		    </div>
		    <div class="form-group" ng-if="project.francisation">
		        <label translate="project.form.firstNameFrancise">FirstNameFrancise</label> : <span>{{::project.firstNameFrancise}}</span>
		    </div>
		</div>
		<div class="collapsable-panel" id="panelResource" ng-class="{'opened': panelResourceOpen}" ng-click="panelResourceOpen = !panelResourceOpen">
			<div class="panel-heading">
				<span class="glyphicon" ng-class="{'glyphicon-triangle-top': panelResourceOpen, 'glyphicon-triangle-bottom': !panelResourceOpen}"></span>
				<h5 class="panel-title" translate="project.form.resources.title">Resources</h5>
			</div>
		</div>
		<div ng-if="panelResourceOpen">
			<ul>
				<li translate="project.form.resources.yes.done">resources yes</li>
			</ul>
		</div>
		
		<div class="collapsable-panel" id="panelTax" ng-class="{'opened': panelTaxOpen}" ng-click="panelTaxOpen = !panelTaxOpen">
			<div class="panel-heading">
				<span class="glyphicon" ng-class="{'glyphicon-triangle-top': panelTaxOpen, 'glyphicon-triangle-bottom': !panelTaxOpen}"></span>
				<h5 class="panel-title" translate="project.form.taxSituation.title">Resources</h5>
			</div>
		</div>
		<div ng-if="panelTaxOpen">
			<ul>
				<li translate="project.form.taxSituation.yes.done">tax situation yes</li>
			</ul>
		</div>
	</div>
	<div ng-if="project.detailMode" style="margin-left: 10px">
		<p translate="project.form.consult.investigation.title">Investigation result :</p>
		<ul>
			<li>
				{{'project.form.consult.investigation.info' | translate: tempDate}}
				<a href="#" translate="project.form.consult.button"></a>
			</li>
			<li>
				{{'project.form.consult.investigation.security' | translate: tempDate}}
				<a href="#" translate="project.form.consult.button"></a>
			</li>
		</ul>
		<br>
		<span translate="project.form.consult.criminalRecord" translate-values="tempDate"></span>
		<a href="#" translate="project.form.consult.button"></a>
		<br><br>
		<span translate="project.form.consult.taxSituation" translate-values="tempDate"></span>
		<a href="#" translate="project.form.consult.button"></a>
		<br><br>
		<span translate="project.form.consult.resourceProof" translate-values="tempDate"></span>
		<a href="#" translate="project.form.consult.button"></a>
		<br><br>
		<span translate="project.form.consult.interviewReport" translate-values="tempDate"></span>
		<a href="#" translate="project.form.consult.button"></a>
		<br><br>
	</div>
</div>
